@{
    ViewBag.Title = "Service Tester";
    Layout = "~/Views/Shared/_Layout.cshtml";   
}

<h2>Service Tester</h2>
 
<div>
    <h3>Input Options</h3> 
    <table class="data">
        <thead>
            <tr>
                <th>Name</th>
                <th>Version</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" class="data-name" value="Glimpse"/></td>
                <td><input type="text" class="data-version" value="0.79"/></td>
                <td><input type="button" value="x" class="data-close"/></td>
            </tr>
            <tr>
                <td><input type="text" class="data-name" value="Glimpse.Elmah"/></td>
                <td><input type="text" class="data-version" value="0.9.2"/></td>
                <td><input type="button" value="x" class="data-close"/></td>
            </tr>
            <tr>
                <td><input type="text" class="data-name"/></td>
                <td><input type="text" class="data-version"/></td>
                <td><input type="button" value="x" class="data-close"/></td>
            </tr>
        </tbody>
    </table> 
    <table>
        <tr>
            <th>With Details</th>
            <td><input type="checkbox" class="data-with-details" data-destination="/details"/></td>
        </tr>
    </table>

    <div>
        <input type="button" class="action-page" data-destination="/release/check" data-type="html" value="Page"/>
        <input type="button" class="action-service" data-destination="/api/release/check" data-type="json" value="Service"/>
    </div>

    <h3>Output</h3> 
    <div class="data-result results"></div>
</div>



@section scripts {
    <script type="text/javascript" src="/Scripts/json.format.js"></script>
    <script type="text/javascript">
        $(function() {
            $('.data-name').live('focus', function() {
                var element = $(this),
                    allElements = $('.data-name'); 
                if (element.val() == '' && allElements.index(element) == allElements.length - 1) {
                    var row = element.closest('tr'),
                        clone = row.clone(true, true);
                    row.after(clone);
                } 
            });

            var getData = function() {
                var data = {
                     packages: $('.data-name:not(:last)').map(function() { return $(this).val(); }).get().join(','), 
                     versions: $('.data-version:not(:last)').map(function() { return $(this).val(); }).get().join(','), 
                     stamp: ''
                };
                
                return data;
            };

            $('.data-close').live('click', function() {
                $(this).closest('tr').remove();
            });

            $('.action-page, .action-service').click(function() {
                var element = $(this),
                    data = getData(),
                    type = element.attr('data-type'),
                    url = element.attr('data-destination'),
                    detailsElement = $('.data-with-details:checked'),
                    detailsUrl = detailsElement.attr('data-destination');
            
                if (detailsUrl)
                    url += detailsUrl;

                $.ajax({
                    url: url,
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    dataType: type,
                    data: data,
                    success: function (result) {
                        if (type == 'json')
                            $('.data-result').html('<pre>' + jsl.format.formatJson(JSON.stringify(result)) + '</pre>');
                        else
                            $('.data-result').html(result);
                    },
                    complete: function (a, b, c) {
                        console.log(a);
                    }
                });
            });
        });
    </script>
}