@section header {
    <section>
        <h1>Protocol Definition</h1>
        <div class="gamma">part of what makes Glimpse possible</div>
    </section>
}

<section>
    <div class="g one-half">
        <h2>Background</h2>
        <p>The Glimpse Protocol is what makes Glimpse unique. It may sound like something complicated but in reality it's only a way of interpreting JavaScript objects and rendering them based on their structure.</p>
        <p>The interpretation that occurs simply makes certain assumptions about how data that is structured a particular way should be formatted. The bellow documents these assumptions.</p>
        <p>If you are interesting in testing out the engine, play with the structure on the right and see how it will look and watch how it renders. Note this is not a schema validation, hence it is intended to be simply a visual render guide.</p>
    </div>
    <div class="g one-half">
        <h2>Live Tester</h2> 
        <textarea class="glimpse-sample" style="width:100%; height:150px;">{
    "Movie" : "Star Wars",
    "Genera/Theme" : "Science Fiction", 
    "Plot & Description" : "Luke Skywalker leaves his home planet, teams up with other rebels, and tries to save Princess Leia from the evil clutches of Darth Vader."
}</textarea>
        <div style="padding:0.5em 0; text-align:center;">
            <input type="button" value="Preview" class="glimpse-sample-trigger"/>
        </div> 
        <div class="glimpse"><div class="glimpse-sample-output glimpse-panel"></div></div> 
    </div>        
    <div class="g one-whole">
        <h2>Living Documentation</h2> 
        <p>Simple key value pair table based of the properties and values of json object. Note, strings that exceed the max string length are trimmed and summarized.</p>

        <div class="glimpse-example">
            <h4>Scenario 1 (Pass)</h4>
            <div class="glimpse"><div class="sample1 glimpse-panel"></div></div>
            <h4>Scenario 2 (Pass)</h4>
            <div class="glimpse"><div class="sample2 glimpse-panel"></div></div>
            <h4>Scenario 3 (Pass)</h4>
            <div class="glimpse"><div class="sample3 glimpse-panel"></div></div>
            <h4>Scenario 4 (Pass)</h4>
            <div class="glimpse"><div class="sample4 glimpse-panel"></div></div>
            <h4>Scenario 5 (Pass)</h4>
            <div class="glimpse"><div class="sample5 glimpse-panel"></div></div>
            <h4>Scenario 6 (Pass)</h4>
            <div class="glimpse"><div class="sample6 glimpse-panel"></div></div>
            <h4>Scenario 7 (Pass)</h4>
            <div class="glimpse"><div class="sample7 glimpse-panel"></div></div>
            <h4>Scenario 8 (Pass)</h4>
            <div class="glimpse"><div class="sample8 glimpse-panel"></div></div>
            <h4>Scenario 9 (Pass)</h4>
            <div class="glimpse"><div class="sample9 glimpse-panel"></div></div>
            <h4>Scenario 10(Pass)</h4>
            <div class="glimpse"><div class="sample10 glimpse-panel"></div></div>
            <h4>Scenario 11 (Pass)</h4>
            <div class="glimpse"><div class="sample11 glimpse-panel"></div></div>
            <h4>Scenario 12 (Pass)</h4>
            <div class="glimpse"><div class="sample12 glimpse-panel"></div></div>
            <h4>Scenario 13 (Pass)</h4>
            <div class="glimpse"><div class="sample13 glimpse-panel"></div></div>
            <h4>Scenario 14 (Pass)</h4>
            <div class="glimpse"><div class="sample14 glimpse-panel"></div></div>
            <h4>Scenario 15 (Pass)</h4>
            <div class="glimpse"><div class="sample15 glimpse-panel"></div></div>
            <h4>Scenario 16 (Pass)</h4>
            <div class="glimpse"><div class="sample16 glimpse-panel"></div></div>
            <h4>Scenario 17 (Pass)</h4>
            <div class="glimpse"><div class="sample17 glimpse-panel"></div></div>
            <h4>Scenario 18 (Pass)</h4>
            <div class="glimpse"><div class="sample18 glimpse-panel"></div></div>
            <h4>Scenario 19 (Pass)</h4>
            <div class="glimpse"><div class="sample19 glimpse-panel"></div></div>
            <h4>Scenario 20 (Pass)</h4>
            <div class="glimpse"><div class="sample20 glimpse-panel"></div></div>
            <h4>Scenario 21 (Pass)</h4>
            <div class="glimpse"><div class="sample21 glimpse-panel"></div></div>
            <h4>Scenario 22 (Pass)</h4>
            <div class="glimpse"><div class="sample22 glimpse-panel"></div></div>
            <h4>Scenario 23 (Pass)</h4>
            <div class="glimpse"><div class="sample23 glimpse-panel"></div></div> 
            <h4>Scenario 24 (Pass)</h4>
            <div class="glimpse"><div class="sample24 glimpse-panel"></div></div> 
            <h4>Scenario 25 (Pass)</h4>
            <div class="glimpse"><div class="sample25 glimpse-panel"></div></div> 
            <h4>Scenario 26 (Pass)</h4>
            <div class="glimpse"><div class="sample26 glimpse-panel"></div></div> 
            <h4>Scenario 27 (Pass)</h4>
            <div class="glimpse"><div class="sample27 glimpse-panel"></div></div> 
        </div>

    </div>
</section>

@section scripts 
{
    <script type="text/javascript" src="~/Scripts/glimpse.js"></script>
    <script type="text/javascript" src="~/Scripts/glimpse.protocol.js"></script>
}