@{
    ViewBag.Title = "Service Tester";
}

<div class="jumbotron">
    <div class="container">
        <h1>Package Tester</h1>
        <p>Allows you to test different package setups.</p>
    </div>
</div>

<div class="container content content-normal">
    <h2>Service Tester</h2>
    <div class="row">
        <div class="col-xs-12">

            <h3>Input Options</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Version</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" class="data-name" value="Glimpse" /></td>
                        <td><input type="text" class="data-version" value="0.79" /></td>
                        <td><input type="button" value="x" class="data-close" /></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="data-name" value="Glimpse.Elmah" /></td>
                        <td><input type="text" class="data-version" value="0.9.2" /></td>
                        <td><input type="button" value="x" class="data-close" /></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="data-name" /></td>
                        <td><input type="text" class="data-version" /></td>
                        <td><input type="button" value="x" class="data-close" /></td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tr>
                    <th>With Details</th>
                    <td><input type="checkbox" class="data-with-details" data-destination="/Details" /></td>
                </tr>
            </table>

            <div>
                <input type="button" class="action-page" data-destination="/Version/Install" data-type="html" value="/Version/Install" />
                <input type="button" class="action-page" data-destination="/Version/Install/Update" data-type="html" value="/Version/Install/Update" />
                <input type="button" class="action-page" data-destination="/Version/Check" data-type="html" value="/Version/Check" />
                <input type="button" class="action-service" data-destination="/Api/Version/Check" data-type="json" value="/Api/Version/Check" />
            </div>

            <h3>Output <span class="data-status"></span></h3>
            <div class="data-url url"></div>
            <div class="data-result results"></div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/versionjs")
}
