@model Glimpse.Site.Models.IssuesIndexViewModel
@{
    ViewBag.Title = "Glimpse Issues";
    ViewBag.bodyClass = "plugins-page";
}
@section header {
    <h1>Issues</h1>
}
@section subnav {
    &nbsp;
}

@foreach (var packageCategory in Model.PackageCategories)
{
    <h1>@packageCategory.Name</h1>
    
     foreach (var package in packageCategory.Packages)
     {
        <span style="padding-right: 10px;"><img src="~/Content/@package.StatusImage" width="15"/> @package.Name</span>
     }
      <hr class="clearer"/>

    <strong>Acknowledged and working on</strong>
    @Html.Partial("_Issues", packageCategory.AcknowledgedIssues, new ViewDataDictionary(this.ViewData) { { "emptyMessage", "No issues yet scheduled for release" } })

     <hr class="clearer"/>
    
    <strong>Fixed and yet to be released</strong>
    @Html.Partial("_Issues", packageCategory.CompletedIssues, new ViewDataDictionary(this.ViewData) {{"emptyMessage","No issues yet fixed. We are working on some as we speak"}})
   
    <hr class="clearer"/>
    
}
