@{
    ViewBag.Title = "Getting Started - Glimpse - ";
}

<div class="jumbotron">
    <div class="container">
        <h1>Getting Started</h1>
        <p>.</p>
    </div>
</div>

<div class="container content content-normal">
    <h2>.</h2>
    <div class="row">
        <div class="col-sm-4">
            .
        </div>
        <div class="col-sm-4">
            .
        </div>
        <div class="col-sm-4">
            .
        </div>
    </div>
</div>