obj/
bin/
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
*~
*.swp
*.resharper.user
*.rptproj.user
*.db
*.ncrunchsolution
*.user
*.log
/Glimpse.All.crunchsolution.local.xml
/TestResult.xml
/builds/local/
*.dotCover
/Packages.dgml
/packages
secrets.config
Glimpse.mdf
Glimpse_log.ldf
