@font-face{font-family:'ArcitectsDaughter';src:url('./fonts/ArchitectsDaughter.ttf') format('truetype');font-weight:normal;font-style:normal;}

body {
    padding-top: 50px; 
    padding-bottom: 0;
    background: #323d42;
    position: relative;
}
a:not([href]), a[href=''] {
    color: crimson;
    cursor: pointer;
}
.thumbnail-noborder {
    border-width: 0;
}
.thumbnail>.img {
    margin-left: auto;
    margin-right: auto;
}
.body_container {
    background-color: white; 
    padding-bottom: 200px;
    overflow-x: hidden;
}
.handwritten {
    font-family:"ArcitectsDaughter",Arial,sans-serif;
    text-rendering:optimizeLegibility;
    -webkit-font-smoothing:antialiased;
    font-smoothing:antialiased;
}
.content-normal {
    font-size: 18px;
}
.content-normal h2 {
    margin-top: 50px;
    border-bottom: 1px solid #eee;
    padding-bottom: 9px;
    font-size: 40px;
}
.content-normal h2:first-child {
    margin-top: 20px;
}
.content p, .content li {
    font-size: 18px;
    line-height: 145%;
}
.content .small {
    font-size: 14px;
}
.content-home h2 {
    font-size: 45px;
    line-height: 120%;
    font-family: 'freight-sans-pro','Helvetica Neue',Arial,Helvetica,sans-serif;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
}
.content-home h3 {
    font-size: 30px;
    line-height: 120%;
    margin-top: 40px;
}
.content-home h3.normal {
    margin-top: 20px;
}
.content-home h4 {
    font-size: 24px;
    line-height: 120%;
    font-weight: bold;
}
.content-docs h1 {
    font-size: 55px;
}
.content-docs img {
    max-width: 100%;
}

.trim {
    width: 100%; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: block
}
.float_img {
    width: 100%; 
    top:0; 
    position: absolute;
}
.code {
    margin: 0 auto;
    background: #333;
    padding: 10px;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 3px 0 #000 inset;
    font-family: courier new,serif;
}
h4 { font-weight: bold; }

.navbar-side {
    padding: 20px 0 100px;
    border-left: 1px solid #eee;
}
.navbar-side ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.navbar-side li {
    padding: 7px 20px;
}
.navbar-side .active {
    background-color: #eee;
}

.arrow, .sicon {
    background-image: url("./pager-sprite.png");
    background-repeat: no-repeat;
}
.arrow-down, .arrow-down-inverted {
    height: 18px;
    width: 14px;
}
.arrow-down {
    background-position:-221px -143px
}
.arrow-down-inverted {
    background-position:-222px -205px;
}
.arrow-left {
    height: 14px;
    width: 18px;
    background-position:-221px -161px;
}
.arrow-large-right {
    width: 29px;
    height: 26px;
    background-position:-239px -145px;
}

.sicon {
    height: 20px;
    width: 24px;
    display: inline-block;
    vertical-align: top;
}
.sicon-twitter {
    background-position: 0px -199px;
}
.sicon-github {
    background-position: 0px -180px;
}


.navbar_home .glyphicon { 
    margin: 0 0.5em;
    vertical-align: sub;
    font-size: 1.5em;
}
.navbar-brand {
    padding: 10px 15px;
}
.navbar-brand img {
    height: 41px;
}
.navbar .container {
    position: relative;
}
.page_home .navbar-install {
    opacity: 0;
    -webkit-transition: opacity 500ms ease;
    -moz-transition: opacity 500ms ease;
    -ms-transition: opacity 500ms ease;
    -o-transition: opacity 500ms ease;
    transition: opacity 500ms ease;
}
.page_home .navbar-install-show {
    opacity: 1;
}
.navbar-install {
    position: absolute;
    top: 7px;
    right: 157px;
}
.navbar-install-menu a {
    color: white !important;
}


.header {
    background: #323d42;
}

.body-simple {
    padding-top: 0;
}
.body-simple .body_container {
    padding-bottom: 40px;
}
.body-simple .footer {
    margin-top: 20px;
}
.jumbotron-dark {
    background: #323d42;
    color: white;
}
.footer {
    color: white;
    margin: 100px 0 20px;

}
.footer .container {
    position: relative;
}
.footer hr {
    height: 2px;
    background: #232a2d;
    border-top: 1px solid #404c52;
    border-bottom: 1px solid #404c52;
}
.footer_mountains{background:transparent url("./footer-mountains.png") bottom left no-repeat;position:absolute;width:307px;height:156px;top:-188px;}
.footer_tower{background:transparent url("./footer-tower.png") top left no-repeat;position:absolute;width:90px;height:138px;top:-229px;right:0;}
.footer_tower-build{background:transparent url("./footer-tower-build.png") top left no-repeat;position:absolute;width:73px;height:169px;top:-263px;right:88px;}
.footer_tower-build.success{background-position:-73px 0;}
.footer_tower-build.failure{background-position:-146px 0;}
.footer .icon{float:left;width:32px;height:32px;margin-right:10px;background:transparent url("./pager-sprite.png") 0 -241px no-repeat;}
.footer .icon.mail{background-position:0 -145px;}
.footer .icon.google{background-position:-34px -145px;}
.footer .icon.github{background-position:-71px -145px;}
.footer .icon.twitter{background-position:-108px -145px;}
.footer .icon.blog{background-position:-148px -148px;}
.footer .microsoft {margin-bottom: -8px; width: 125px; height: 29px; background: transparent url("./microsoft.png") no-repeat; display: inline-block; background-size: contain;}
.footer_last div{vertical-align: middle;}
.footer_backing{text-align: center}
.footer_copy{margin-top: 3px;}


.build_details {
    display: none; 
}
.build_info { 
    position: absolute;
    color: #666;
    width: 200px;
    top: 20px;
    left: -220px;
    transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -webkit-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
}
.build_arrow {
    position: absolute;
    top: 70px;
    left: -40px;
    transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    -o-transform: rotate(-12deg); 
}


.blog_container {
    display: none;
    padding-top: 3em;
} 

.media_tweet small {
    color: #666;
    font-size: 0.8em;
    display: none;
}

.carousel-inverted .carousel-caption, .carousel-inverted .carousel-control {
    color: #333333;
    text-shadow: none;
}
.carousel-inverted .carousel-control.left, .carousel-inverted .carousel-control.right {
    background-image: none;
    filter: none;
}
.carousel-inverted .carousel-indicators li {
    border-color: #333333;
}
.carousel-inverted .carousel-indicators .active {
    background-color: #333333;
}
.carousel-summary .carousel-control .glyphicon-chevron-left, .carousel-summary .carousel-control .glyphicon-chevron-right {
    top: 45%;
}
.carousel-summary .carousel-subject {
    height: 160px;
} 
.carousel-screenshot-shots .target, .is-container .target {
    -webkit-transition: bottom 400ms ease;
    -moz-transition: bottom 400ms ease;
    -ms-transition: bottom 400ms ease;
    -o-transition: bottom 400ms ease;
    transition: bottom 400ms ease;
    bottom: -100%;
}
.carousel-screenshot-shots .target.active, .is-container .target.active { 
    bottom: 0%;
}

.action_link {
    white-space: nowrap;
}
.action_link .glyphicon {
    margin-right: 5px;
}

.community_container {
    padding-top: 3em;
}
.community_content {
    padding-bottom: 1em;
}
.community_listing_outer {
    overflow: hidden; 
    height: 200px; 
    position: relative;
}
.community_listing {
    position: absolute; 
    height: 200px; 
    width: 2400px; 
    margin-left: -1200px; 
    left: 50%
}
.community_content_padding {
    height: 240px;
}
.community_listing > div {
    display: inline-block;
    position: relative;
    color: white;
} 
.community_guys {
    position: absolute;
    bottom: 0;
    right: 0;
}
.community_guys div {
    position: absolute;
}
.community_osguy_label {
    left: -85px;
    top: -40px;
    -ms-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
}
.community_osguy_label .arrow { 
    right: -18px;
    top: 28px;
}
.community_anthony_label { 
    left: 165px;
    top: -20px;
    -ms-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -webkit-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    transform: rotate(-4deg);
}
.community_anthony_label .arrow { 
    left: -17px;
    top: 10px;
}
.community_nik_label { 
    top: 50px;
    left: 350px;
    -ms-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
}
.community_nik_label .arrow { 
    left: -12px;
}

 
.does-container-items .media, .is-container-items .media {
    margin-top: 30px;
}
.does-container-items h3, .is-container-items h3 {
    margin-top: -3px;
}
.does_timeline_img {
    left: -5%;
    width: 60%;
}
.does_data_img {
    right: -5%;
    width: 60%;
}
.is-container .glyphicon {
    font-size: 45px;
    margin-right: 30px;
}
 

.listing-data .row > div {
    margin-bottom: 25px;
}
.listing-data .thumbnail {
    margin-bottom: 10px;
}

.listing-data-community .col-xs-4 {
    height: 160px
}


.bad {
    color: #c66969;
}
.good {
    color: #6fc669;    
}

.package-status {
    margin-top: 80px;
}
.package-status:first-child {
    margin-top: 20px;
}
.package-status .lead {
    margin-bottom: 10px;
}
.package-status-detail {
    margin-top: 20px;
}
.package-status-notes {
    margin-top: 10px;
}


.screenshot-preview { 
    width: 150px;
    height: 150px;
    margin-right: 30px !important;
    border: 1px solid #101010;
    background-repeat: no-repeat;
    -webkit-background-size: 300px; 
    -moz-background-size: 300px; 
    -o-background-size: 300px; 
    background-size: 300px;
    -ms-border-radius: 3px;
    border-radius: 3px;
} 
.screenshot-preview-does {
    background-image: url(screenshot-preview.gif);
}
.getting-started {
    width: 200px;
    height: 150px; 
    background-image: url(screenshot-getting-started.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: 200px; 
    -moz-background-size: 200px; 
    -o-background-size: 200px; 
    background-size: 200px;
}
.getting-started-enable {
    background-position: 0 -150px
}
.getting-started-explore {
    background-position: 0 -300px
}

.logo-triple {
    float: right;
}
.tick-update {
    margin-right: 20px;
}
.container-form-stay-update {
    position: relative;
}
.jumbotron-dark .form-stay-update {
    background-color: #323d42;
}
.form-stay-update {
    bottom: -100px;
    position: absolute;
    padding: 0 2em 1em;
    right: 0;
}
.form-stay-update label {
    display: block
}
.form-stay-update .email {
    border: 1px solid #999;
    width: 400px;
    font-size: 1.1em;
    padding: 0 0.5em;
    height: 33px;
    color: #333;
    margin-right: 10px
} 
.form-stay-update h2 {
    margin-top: 0;
}



 
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,0.5);
    z-index: 2000;
}
.overlay-modal {
    width: 600px;
    height: 355px;
    position: fixed;
    top: 50%; 
    left: 50%;
    margin-top: -177px;
    margin-left: -300px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    z-index: 2010; /* 1px higher than the overlay layer */
    padding: 20px;
    -moz-box-shadow: 0 0 10px #000000;
    -webkit-box-shadow: 0 0 10px #000000;
    box-shadow: 0 0 10px #000000;
}
.overlay-close {
    border-radius: 16px;
    color: #ffffff;
    background-color: #323d42;
    font-weight: bold;
    position: absolute;
    right: -15px;
    top: -15px;
    width: 30px;
    height: 30px; 
    font-size: 20px;
    cursor: pointer;
}





.dl-pull-requests dt {
    width: 60px;
    text-align: left;
}
.dl-pull-requests dd {
    margin-left: 75px;
    margin-bottom: 3px;
}

@media (min-width: 768px)  {
    .listing-data-community .col-sm-3 {
        height: 200px
    }
}

.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}


@media (min-width: 768px) {
    .navbar_home .glyphicon {
        font-size: 2em;
        display: block;
        margin: 0 0 0.25em;
    }
    .navbar_home > ul > li {
        text-align: center;
    }
    .navbar_home > ul > li > a {
        padding-top: 2px;
        padding-bottom: 4px;
    }

    #tweets {
        margin-top: -47px;
    }
}

@media (max-width: 992px) { 
    .float_md_img {
        position: relative;
        left: -15px;
        width: 100%;
        width: calc(100% + 30px);
    }
}

@media (max-width: 768px) {
    .float_sm_img {
        position: relative;
        left: -15px;
        width: 100%;
        width: calc(100% + 30px);
    }

    .community_listing_outer { 
        height: 100px;  
    }
    .community_listing { 
        height: 100px; 
        width: 1200px; 
        margin-left: -600px;  
    }
    .community_listing img{
        height: 100px;
    }
}
 
@media (max-width: 435px) {
    .carousel-summary .carousel-subject {
        height: 230px;
    } 
}

@media (min-width: 1200px) {
    .carousel-container {
        padding: 0 8.333333333333332%;
    }
}
