@darkcolor: #323D42;
@lightcolor: #fff;

.header-inner, .body-inner, .footer-inner {	
	padding: 2em 2em 0 2em;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	min-height: 125px;	
}
.header-inner {
	padding-top: 0;
}

header {
    color: @lightcolor;
    background-color: @darkcolor; 

	h1 { 
		font-weight: normal;
		padding-top: 0.5em;
		line-height: 1;
		margin-bottom: 0.35em;
	}  
	.logo-sub {
		height: 143px;
		width: 143px;
		background-repeat: no-repeat; 
		background-image: url(logo-medium.png);
		background-position-y: -18px;
	}
}

footer {
	.g {
		text-align: center;
	}
	.bottom-backing {
		padding-bottom: 2em; 
		img {
			margin: 0 0.5em;
		}
	}
}

.body-inner {
	.stats-root-menu {
		text-align: center; 
		.stat {
			width: 20%; 
			min-width: 170px;
			max-width: 210px;
			margin: 0 4% 2em;
		} 
		a {
			margin-top: 1em;
		}
	}
	.stats-contributors {
		text-align: center; 
	}
}

.sprite {
	background-repeat: no-repeat;
	display: inline-block;

	&.sprite-root {
		background-image: url(options-root.png);
		height: 63px;
		width: 63px;
	}
	&.sprite-root-download { background-position-x:-252px; }
	&.sprite-root-github { background-position-x:-315px; }
	&.sprite-root-community { background-position:0 -63px; }
	&.sprite-root-plugins { background-position:-126px -63px; }
	&.sprite-root-documentation { background-position:-63px -63px; }
	&.sprite-root-support { background-position:-189px -63px; }
}

.home {
	header { 
		.decal {
			height: 200px;
			margin: 9em auto 0 auto;
			white-space: nowrap;
			@media only screen and (min-width: 1024px) and (max-width: 1499px) { 
				margin-top: 4em;  
			} 
		}
		.decal a {
			margin-top: 1em;
		} 
		.g {
			text-align: center;
		} 
		.hide--desk .decal {
			margin: 0 auto; 
		}  
		h1 {
			padding: 1em 0;
		}
	}
	.header-inner {
		padding-top:2em;
	}
}
