@darkcolor: #323D42;
@lightcolor: #fff;

.header-inner, .body-inner, .footer-inner {	
	padding: 2em 2em 0 2em;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;	
}

header {
    color: @lightcolor;
    background-color: @darkcolor;

	h1 { 
		font-weight: normal;
		margin: 1em 0;	
	}
	.decal {
		height: 200px;
		margin: 9em auto 0 auto;
		white-space: nowrap;
	}
	.decal a {
		margin-top: 1em;
	} 
	.g {
		text-align: center;
	} 
	.hide--desk .decal {
		margin: 0 auto; 
	} 
}

footer {
	.g {
		text-align: center;
	}
	.bottom-backing img {
		margin: 0 0.5em;
	}
}

.sprite {
	background-repeat: no-repeat;
	display: inline-block;

	&.sprite-root {
		background-image: url(options-root.png);
		height: 63px;
		width: 63px;
	}
	&.sprite-root-download { background-position-x:-252px; }
	&.sprite-root-github { background-position-x:-315px; }
}

@media only screen and (min-width: 1024px) and (max-width: 1799px) {
    header { 
		.decal { 
			margin-top: 2em; 
		}
    } 
}
@media only screen and (min-width: 1800px) and (max-width: 2200px) {
    header { 
		.decal { 
			margin-top: 4em; 
		}
    } 
}