<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="glimpseCheck" type="Glimpse.VersionCheck.ConfigSectionGlimpse, Glimpse.VersionCheck" /> 
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="GlimpseConnection" value="GlimpseDataStore"/>
  </appSettings>
  <glimpseCheck debug="true">
    <logging logEverything="true" enabled="true" />
    <dataSource disabledAutoBuild="false" />
    <services minTriggerInterval="300000" />
  </glimpseCheck>
  <system.web>
    <compilation debug="true" targetFramework="4.5" /> 
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <connectionStrings>
    <add name="GlimpseDataStore" connectionString="Data Source=.\SQLExpress;Initial Catalog=Glimpse;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
