@{
    ViewBag.Title = "Glimpse Support - Need some help or found an issue for us?";
}

@section header {
    <section>
        <h1>Support</h1>
        <div class="gamma">need some help or found an issue for us?</div>
    </section>
}

<section>
    <div class="g one-half">
        <h2>How can we help?</h2>
        <p>If you have any issues or ideas we are keen to do our best to help you out. Feel free to <a href="https://github.com/glimpse/glimpse/issues" target="_blank">log</a> a bug or an idea, or to simply see what we have <a href="https://github.com/Glimpse/Glimpse/commits/">going on</a>.</p>
        <p>When reporting a bug or issue, please include all pertinent information. This typically includes:
            <ul>
                <li>Glimpse package(s) installed (Example: Glimpse.Mvc3.1.0.0 and FluentSecurity.Glimpse.1.1)</li>
                <li>Development platform, including .NET version and web server (Example: Mvc3 with .NET version 4.0 on IIS Express)</li>
                <li>If the problem is UI related include the browser and its version (Example: IE10)</li>
                <li>Steps to reproduce the bug/example code</li>
            </ul> 
        </p>
    </div>
    <div class="g one-half">
        <h2>Licensing</h2>
        <p>Glimpse covered by the <a href="http://opensource.org/licenses/apache2.0">Apache License 2.0</a>. The short version of what this means is that you can pretty much do whatever you like as long as the copywrite notices stay in place.</p>
        <p>"The Apache License is a free software license authored by the Apache Software Foundation (ASF). The Apache License requires preservation of the copyright notice and disclaimer. Like any free software license, the Apache License allows the user of the software the freedom to use the software for any purpose, to distribute it, to modify it, and to distribute modified versions of the software, under the terms of the license, without concern for royalties." - <a href="http://en.wikipedia.org/wiki/Apache_License">Wikipedia</a></p>
    </div>
    <div class="g one-whole">
        <h2>Where do I get support?</h2>
        <div class="stat-group stats-support">
            <dl class="stat">
                <dt class="stat__title delta">Issues</dt>  
                <dd class="stat__value">
                    If you have found an issue you think we should know about, let us know on our <a href="https://github.com/glimpse/glimpse/issues" target="_blank">issues list</a>.
                </dd>
            </dl>
            <dl class="stat">
                <dt class="stat__title delta">Developer List</dt>  
                <dd class="stat__value">
                    Get answers to questions and find out what is next for glimpse on our <a href="https://groups.google.com/forum/?fromgroups#!forum/getglimpse-dev" target="_blank">community user group</a>
                </dd>
            </dl>
            <dl class="stat">
                <dt class="stat__title delta">Twitter</dt>  
                <dd class="stat__value">
                    Feel free to get in touch with the us on twitter using either <a href="http://www.twitter.com/anthony_vdh" target="_blank">@@anthony_vdh</a> or <a href="http://www.twitter.com/nikmd23" target="_blank">@@nikmd23</a>
                </dd>
            </dl>
        </div>
    </div>
</section>