@{
    ViewBag.Title = "Glimpse Support - Need some help or found an issue for us?";
    ViewBag.bodyClass = "support-page";
}
@section header {
    <h1>Support</h1>
}
@section subnav {
    &nbsp;
}
<h2>Where do I get support?</h2>
    <dl class="threeColumn column1">
        <div class="innerColumn">
        <h3>Issues</h3>  
        <p>
            If you find an issue, please tell us! You can report issues straight to our <a href="https://github.com/glimpse/glimpse/issues" target="_blank">issues list</a>, and we'll pick it up from there.
        </p>
        </div>
    </dl>
    <dl class="threeColumn column2">
        <div class="innerColumn">
        <h3>Developer List</h3>  
        <p>
            Get answers to your questions from the community, and find out what is next for Glimpse on our <a href="https://groups.google.com/forum/?fromgroups#!forum/getglimpse-dev" target="_blank">Google group</a>.
        </p>
        </div>
    </dl>
    <dl class="threeColumn column3">
        <div class="innerColumn">
        <h3>Twitter</h3>  
        <p>
            Feel free to get in touch with us on Twitter using either <a href="http://www.twitter.com/anthony_vdh" target="_blank">@@anthony_vdh</a> or <a href="http://www.twitter.com/nikmd23" target="_blank">@@nikmd23</a>. We love to hear from users!
        </p>
        </div>
    </dl>
    <hr class="clearer" />
<div class="twoColumn column1">
    <div class="innerColumn">
    <h2>How can we help?</h2>
    <p>If you have any issues or ideas, we are keen to do our best to help you out. Feel free to <a href="https://github.com/glimpse/glimpse/issues" target="_blank">log a bug or an idea</a>, or to simply see what we have been <a href="https://github.com/Glimpse/Glimpse/commits/">developing recently</a>.</p>
    <p>When reporting a bug or issue, please include all pertinent information. This typically includes:
        <ul>
            <li>Glimpse package(s) installed (Example: Glimpse.Mvc3.1.0.0 and FluentSecurity.Glimpse.1.1)</li>
            <li>Development platform, including .NET version and web server (Example: Mvc3 with .NET version 4.0 on IIS Express)</li>
            <li>If the problem is in the UI, the browser and its version (Example: IE10)</li>
            <li>Steps to reproduce the bug/example code</li>
        </ul> 
    </p>
        </div>
</div>
<div class="twoColumn column2">
    <div class="innerColumn">
    <h2>Licensing</h2>
    <p>Glimpse covered by the <a href="http://opensource.org/licenses/apache2.0">Apache License 2.0</a>. The short version of what this means is that you can pretty much do whatever you like as long as the copyright notices stay in place.</p>
    <p>"The Apache License is a free software license authored by the Apache Software Foundation (ASF). The Apache License requires preservation of the copyright notice and disclaimer. Like any free software license, the Apache License allows the user of the software the freedom to use the software for any purpose, to distribute it, to modify it, and to distribute modified versions of the software, under the terms of the license, without concern for royalties." - <a href="http://en.wikipedia.org/wiki/Apache_License">Wikipedia</a></p>
    </div>
</div>
<hr class="clearer" />
