@section header {
    <section>
        <h1>Community</h1>
        <div class="gamma">who's involved & how you can help</div>
    </section>
}

<section>
    <div class="g one-half palm-one-whole">
        <h2>Working together</h2>
        <p>Glimpse wouldn't be what it is today without the love and support of some awesom guys from around the world. Thanks to everyone who has been involed in makring this possible.</p>
        
        <h2>Contributing</h2> 
        <p>If you would like to get involved there are plenty of things that you can do. Feel free to reach out to us on the <a href="http://groups.google.com/group/getglimpse-dev">mailing list</a> or via twitter (<a href="https://twitter.com/anthony_vdh">@@anthony_vdh</a> &amp; <a href="https://twitter.com/nikmd23">@@nikmd23</a>). Otherwise start with the below and go from there.</p>
        <p>Documentation is the one thing that helps separate good projects from the best projects. If you’re a first time OSS contributor, documentation is a great stepping stone to learn the process and get more involved, and if you’re an OSS veteran, you’ll no doubt understand the need to occasionally update docs. The Glimpse team are always grateful for anyone that wants to lend a hand.</p>
        <p>In an effort to make documentation contribution as simple as possible, we are leveraging Glimpse’s <a href="https://github.com/Glimpse/Glimpse/wiki">GitHub Wiki</a>, which is just a standard Git repository under the covers, as the entry point for documentation. GitHub wiki’s provide us with an online WYSIWYG interface for adding and editing documentation, completely in browser, with the simple markdown syntax.</p>
        <p>We need people to help with the Glimpse website, documenting the Glimpse APIs, "getting started" guides for new users, plugin or framework authors and so on.</p>
        <p>Even if you know nothing now, we can support you and provide you with whatever information and guidance you need. </p>
    </div>
    <div class="g one-half palm-one-whole">
        <h2>Our Contributors</h2>
        <div class="stat-group stats-contributors">
            <dl class="stat">
                <dt class="stat__title gamma">Anthony van der Hoorn</dt>
                <dt class="stat__title"><a href="https://twitter.com/anthony_vdh">@@anthony_vdh</a></dt>
                <dd class="stat__value">
                    <img height="210" src="https://secure.gravatar.com/avatar/6af12b64c2fe22af3b27848b8eedd992?s=420&amp;d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" width="210">
                </dd>
                <dd class="stat__value hide--palm">Co-Founder</dd>
                <dd class="stat__value hide--palm"><a href="https://github.com/avanderhoorn">github</a> | <a href="http://blog.anthonyvanderhoorn.com">blog</a></dd>
            </dl>
            <dl class="stat">
                <dt class="stat__title gamma">Nik Molnar</dt>
                <dt class="stat__title"><a href="https://twitter.com/nikmd23">@@nikmd23</a></dt>
                <dd class="stat__value">
                    <img height="210" src="https://secure.gravatar.com/avatar/e07a27ec61977c7c686feaa799b1cf6e?s=420&amp;d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" width="210">
                </dd>
                <dd class="stat__value hide--palm">Co-Founder</dd>
                <dd class="stat__value hide--palm"><a href="https://github.com/nikmd23">github</a> | <a href="http://nikcodes.com/">blog</a></dd>
            </dl>
        </div>
        <div class="stat-group stats-contributors">
            <dl class="stat">
                <dt class="stat__title gamma">Kristoffer Ahl</dt>
                <dt class="stat__title"><a href="https://twitter.com/kristofferahl">@@kristofferahl</a></dt>
                <dd class="stat__value">
                    <img height="210" src="https://secure.gravatar.com/avatar/15ae54f30480803f3c90e2a2aed08215?s=420&amp;d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" width="210">
                </dd>
                <dd class="stat__value hide--palm">Contributor - Glimpse.Core.Tab.Assist</dd>
                <dd class="stat__value hide--palm"><a href="https://github.com/kristofferahl">github</a> | <a href="http://kristofferahl.tumblr.com/">blog</a></dd>
            </dl>
            <dl class="stat">
                <dt class="stat__title gamma">Steven Lauwers</dt>
                <dt class="stat__title"><a href="https://twitter.com/steven_lauwers">@@steven_lauwers</a></dt>
                <dd class="stat__value">
                    <img height="210" src="https://secure.gravatar.com/avatar/ff557d0bc3356fc047efc37de9de2b2f?s=420&amp;d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" width="210">
                </dd>
                <dd class="stat__value hide--palm">Contributor - All around</dd>
                <dd class="stat__value hide--palm"><a href="https://github.com/stevenlauwers22">github</a></dd>
            </dl>
            <dl class="stat">
                <dt class="stat__title gamma">Richard van der Hoff</dt>
                <dt class="stat__title"><a href="https://twitter.com/richvdh">@@richvdh</a></dt>
                <dd class="stat__value">
                    <img height="210" src="https://secure.gravatar.com/avatar/1aeaebc4698ad2c0225657d7b76e0cd5?s=420&amp;d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" width="210">
                </dd>
                <dd class="stat__value hide--palm">Contributor - Routes tab</dd>
                <dd class="stat__value hide--palm"><a href="https://github.com/richvdh">github</a></dd>
            </dl>
        </div>
    </div>
</section>