@{
    ViewBag.Title = "Community - Glimpse - ";
}
<div class="container content content-normal">
    <h1>Community</h1>
    <p>Glimpse wouldn't be what it is today without the love and support of some awesome people from around the world. Thanks to everyone who has been involved in making this possible.</p>

    <h2 id="getting-in-contact">Getting in Contact</h2>
    <div class="row">
        <div class="col-sm-4">
            <h3>Issues List</h3>
            <p>Think you might have found a bug or something acting weird, our <a href="https://github.com/glimpse/glimpse/issues">github issues list</a> is where you want to go.</p>
        </div>
        <div class="col-sm-4">
            <h3>Stack Overflow</h3>
            <p>Got general questions? Anything related to using, configuring or extending Glimpse can be sent through to here. View <a href="http://stackoverflow.com/questions/tagged/glimpse">already answered</a> Stack Overflow questions.</p>
        </div>
        <div class="col-sm-4">
            <h3>Twitter</h3>
            <p>Got something simple or basic, or need a quick response, reach us directly via twitter (<a href="https://twitter.com/anthony_vdh">@@anthony_vdh</a> &amp; <a href="https://twitter.com/nikmd23">@@nikmd23</a>).</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <h3>Mailing List</h3>
            <p>Any discussion for the community related to working on or extentending Glimpse can be sent to the mailing list. Bug reports or general usage should be directed to one of the above options.</p>
        </div>
    </div>

    <h2>Getting Involved</h2>
    <p class="text-center">Would like to get involved? It turns out there are plenty of things that you can do to help! <br class="hidden-xs" />Open source projects benefit from the contributions of the developer community.</p>
    <div class="row">
        <div class="col-sm-6">
            <h3>Issues</h3>
            <p>There are issues that are good for first-timers ringfenced and tagged <a href="https://github.com/Glimpse/Glimpse/issues?labels=Jump+In&milestone=&page=1&sort=updated&state=open">Jump In</a> in GitHub. If you like one, feel free to let us know you want to take it on and if you need any help doing so.</p>
            <ul>
                <li><a href="http://nikcodes.com/2013/05/10/new-contributor-jump-in/">Learn more about how "Jump In" works</a></li>
            </ul>
        </div>
        <div class="col-sm-6">
            <h3>Code</h3>
            <p>For those looking to get more deeply involved, our issue list is again the home of what you are looking for. Look for the Jump In issues that a bigger features or <a href="#getting-in-contact">ask us</a> where we need help.</p>
            <ul> 
                <li><a href="https://github.com/Glimpse/Glimpse/blob/master/contributing.md">Learn more about contributing to Glimpse core</a></li>
            </ul>
        </div>
    </div>
    <div class="row" style="margin-top: 30px; margin-bottom: 30px; ">
        <div class="col-sm-12">
            <h3>Documentation</h3>
        </div>
        <div class="col-sm-6">
            <p>Documentation is the one thing that helps separate good projects from the best projects. If you’re a first time OSS contributor or even a veteran, documentation is a great stepping stone to learn the process.</p>
        </div>
        <div class="col-sm-6">
            <p>To make it as simple as possible, we're using Glimpse’s <a href="https://github.com/Glimpse/Glimpse/wiki">GitHub Wiki</a>, as the entry point for documentation. GitHub Wikis provide us with an online WYSIWYG interface for adding and editing documentation, completely in browser, using markdown syntax.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h3>Extensions</h3>
            <p>If you'd rather start off on something more self-contained, why not write an extension for your favorite server- or client-side technology? There are plenty of Extensions <a href="@Url.Action(MVC.Extensions.Index())">out there</a>, most of which are fully open source.</p>
            <ul>
                <li><a>See about getting started on your first plugin</a></li>
            </ul>
        </div>
        <div class="col-sm-6">
            <h3>Share Glimpse</h3>
            <p>If you love Glimpse, consider telling others about it. Tell your story at a company tech talk, present at your local user group, or submit a talk proposal about how you are using Glimpse or extensions you have written.</p>
            <ul>
                <li><a>Need inspiration? See some of our talks that we have given.</a></li>
            </ul>
        </div>
    </div>
    <p class="bg-info" style="padding: 15px; margin: 30px 0 50px">No matter what your interest, please feel free to reach out to us on the <a href="http://groups.google.com/group/getglimpse-dev">mailing list</a> or via twitter (<a href="https://twitter.com/anthony_vdh">@@anthony_vdh</a> &amp; <a href="https://twitter.com/nikmd23">@@nikmd23</a>).</p>

    <h2>Meet the Team</h2>

    <div class="comm-page-contriubutors">
        <div class="stat-group stats-contributors">
            <dl class="stat">
                <dt class="stat__title delta">Anthony van der Hoorn</dt>
                <dd class="stat__value">
                    <img height="100" src="~/Content/_v2/Contributors/pic1.jpg" width="100">
                </dd>
                <dd class="stat__value hide--palm"><a href="https://twitter.com/anthony_vdh">@@anthony_vdh</a> | <a href="https://github.com/avanderhoorn">github</a></dd>
            </dl>
            <dl class="stat">
                <dt class="stat__title delta">Nik Molnar</dt>
                <dd class="stat__value">
                    <img height="100" src="~/Content/_v2/Contributors/pic2.jpg" width="100">
                </dd>
                <dd class="stat__value hide--palm"><a href="https://twitter.com/nikmd23">@@nikmd23</a> | <a href="https://github.com/nikmd23">github</a></dd>
            </dl>
            <dl class="stat">
                <dt class="stat__title delta">Chris Gijbels</dt>
                <dd class="stat__value">
                    <img height="100" src="~/Content/_v2/Contributors/chris.jpg" width="100">
                </dd>
                <dd class="stat__value hide--palm"><a href="https://twitter.com/CGijbels">@@CGijbels</a> | <a href="https://github.com/CGijbels">github</a></dd>
            </dl>
        </div>
        <h2>Contributors</h2>
        <div class="stat-group stats-contributors">
            <dl class="stat">
                <dt class="stat__title delta">Kristoffer Ahl</dt>
                <dd class="stat__value">
                    <img height="100" src="~/Content/_v2/Contributors/pic3.jpg" width="100">
                </dd>
                <dd class="stat__value hide--palm"><a href="https://twitter.com/kristofferahl">@@kristofferahl</a> | <a href="https://github.com/kristofferahl">github</a></dd>
            </dl>
            <dl class="stat">
                <dt class="stat__title delta">Steven Lauwers</dt>
                <dd class="stat__value">
                    <img height="100" src="~/Content/_v2/Contributors/pic4.jpg" width="100">
                </dd>
                <dd class="stat__value hide--palm"><a href="https://twitter.com/steven_lauwers">@@steven_lauwers</a> | <a href="https://github.com/stevenlauwers22">github</a></dd>
            </dl>
            <dl class="stat">
                <dt class="stat__title delta">Richard van der Hoff</dt>
                <dd class="stat__value">
                    <img height="100" src="~/Content/_v2/Contributors/pic5.jpg" width="100">
                </dd>
                <dd class="stat__value hide--palm"><a href="https://twitter.com/richvdh">@@richvdh</a> | <a href="https://github.com/richvdh">github</a></dd>
            </dl>
            <dl class="stat">
                <dt class="stat__title delta">Richard Oliver</dt>
                <dd class="stat__value">
                    <img height="100" src="~/Content/_v2/Contributors/pic6.jpg" width="100">
                </dd>
                <dd class="stat__value hide--palm"><a href="https://github.com/rho24">github</a></dd>
            </dl>
            <dl class="stat">
                <dt class="stat__title delta">Adam Schroder</dt>
                <dt class="stat__title"></dt>
                <dd class="stat__value">
                    <img height="100" src="~/Content/_v2/Contributors/pic7.jpg" width="100">
                </dd>
                <dd class="stat__value hide--palm"><a href="https://twitter.com/schotime">@@schotime</a> | <a href="https://github.com/schotime">github</a></dd>
            </dl>
            <dl class="stat">
                <dt class="stat__title delta">Maarten Balliauw</dt>
                <dt class="stat__title"></dt>
                <dd class="stat__value">
                    <div class="contributor-img"><img height="100" src="~/Content/_v2/Contributors/pic10.jpg" width="100"></div>
                </dd>
                <dd class="stat__value hide--palm"><a href="https://twitter.com/maartenballiauw">@@maartenballiauw</a> | <a href="https://github.com/maartenba">github</a></dd>
            </dl>
            <dl class="stat">
                <dt class="stat__title delta">&nbsp; &nbsp; Pete Hotchkin &nbsp; &nbsp;</dt>
                <dd class="stat__value">
                    <img height="100" src="~/Content/_v2/Contributors/pic8.jpg" width="100">
                </dd>
                <dd class="stat__value hide--palm"><a href="https://twitter.com/headloose">@@headloose</a> | <a href="http://headloose.com/">blog</a></dd>
            </dl>
            <dl class="stat">
                <dt class="stat__title delta">Elizabeth Ayer</dt>
                <dd class="stat__value">
                    <img height="100" src="~/Content/_v2/Contributors/pic9.jpg" width="100">
                </dd>
                <dd class="stat__value hide--palm"><a href="https://twitter.com/elizayer">@@elizayer</a></dd>
            </dl>
        </div>
        <h2>Special Thanks</h2>
        <dl class="stat">
            <dt class="stat__title delta">Jeffrey Burn</dt>
            <dd class="stat__value hide--palm"><a href="https://twitter.com/jetburn">@@jetburn</a> | <a href="https://github.com/kristofferahl">github</a></dd>
        </dl>
        <dl class="stat">
            <dt class="stat__title delta">Josh Perry</dt>
            <dd class="stat__value hide--palm"><a href="https://twitter.com/joshperry">@@joshperry</a> | <a href="https://github.com/joshperry">github</a></dd>
        </dl>
        <dl class="stat">
            <dt class="stat__title delta">Jason Clark</dt>
            <dd class="stat__value hide--palm"><a href="https://twitter.com/jasonrclark">@@jasonrclark</a> | <a href="https://github.com/jasonrclark">github</a></dd>
        </dl>
        <dl class="stat">
            <dt class="stat__title delta">Brendan Forster</dt>
            <dd class="stat__value hide--palm"><a href="https://twitter.com/shiftkey">@@shiftkey</a> | <a href="https://github.com/shiftkey">github</a></dd>
        </dl>
        <dl class="stat">
            <dt class="stat__title delta">Peter Hahndorf</dt>
            <dd class="stat__value hide--palm"><a href="https://twitter.com/hahndorf">@@hahndorf</a> | <a href="https://github.com/hahndorf">github</a></dd>
        </dl>
        <dl class="stat">
            <dt class="stat__title delta">Scott Hanselman</dt>
            <dd class="stat__value hide--palm"><a href="https://twitter.com/shanselman">@@shanselman</a> | <a href="https://github.com/shanselman">github</a></dd>
        </dl>
        <dl class="stat">
            <dt class="stat__title delta">Aaron Powell</dt>
            <dd class="stat__value hide--palm"><a href="https://twitter.com/slace">@@slace</a> | <a href="https://github.com/aaronpowell">github</a></dd>
        </dl>
    </div>
</div>
