@section header {
    <section>
        <h1>You're up to date</h1>
        <div class="gamma">Thanks for updating glimpse, for the number lover inside, you've gone from v### to v###.</div>
    </section>
}

<section>
    <div class="g one-whole"> 
        <h2>Release notes</h2>
    </div>
</section>
