<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="glimpsePackage" type="Glimpse.Package.ConfigSectionGlimpse, Glimpse.Package" />
  </configSections>
  <appSettings file="secrets.config">
    <add key="webpages:Version" value="3.0.0.0" /> 
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="GlimpseConnection" value="glimpse" />
    <add key="TwitterKey" value="VALUE STORED IN WINDOWS AZURE" />
    <add key="TwitterSecret" value="VALUE STORED IN WINDOWS AZURE" />
    <add key="GitHubKey" value="VALUE STORED IN WINDOWS AZURE" />
    <add key="GitHubSecret" value="VALUE STORED IN WINDOWS AZURE" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <glimpsePackage>
    <!-- useOfflineData="false" -->
    <logging logEverything="true" enabled="false" />
    <services minTriggerInterval="300000" />
  </glimpsePackage>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" /> 
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" /> 
    <httpRedirect enabled="true" exactDestination="true" httpResponseStatus="Found">
      <add wildcard="/Help/Plugin/*" destination="/Docs/" />
      <add wildcard="/Help/Configuration/*" destination="/Docs/" />
      <add wildcard="/Help/CreatingPlugins*" destination="/Docs/" />
      <add wildcard="/Help/Setup*" destination="/Docs/" />
      <add wildcard="/Help/Getting-started*" destination="/Getting-started/" />
      <add wildcard="/About/Details*" destination="/Docs/" />
      <add wildcard="/About/Platforms*" destination="/Docs/" />
      <add wildcard="/About/QuickStart*" destination="/Docs/" />
      <add wildcard="/Questions*" destination="/Docs/" />
      <add wildcard="/About*" destination="/" />
      <add wildcard="/About/Credits*" destination="/Community" />
      <add wildcard="/Help*" destination="/Docs/" />
      <add wildcard="/Packages" destination="/Extensions" />
      <add wildcard="/Support" destination="/Community" /> 
    </httpRedirect>
    <rewrite>
      <rules>
        <rule name="RemoveWWW" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" />
          </conditions>
          <action type="Redirect" url="http://getglimpse.com{PATH_INFO}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite> 
    <!--<httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="500" />
      <remove statusCode="404" />
      <remove statusCode="401" />
      <error statusCode="401" responseMode="ExecuteURL" path="/Error/Unauthorized" />
      <error statusCode="404" responseMode="ExecuteURL" path="/Error/NotFound" />
      <error statusCode="500" responseMode="ExecuteURL" path="/Error/ServerError" />
    </httpErrors>-->
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <connectionStrings>
    <add name="glimpse" connectionString="Server=(localdb)\v11.0;Integrated Security=true;AttachDbFileName=|DataDirectory|Glimpse.mdf;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
