<h1>The people who are helping us&#133; </h1>
    	<div id="people">
    	    <div class="person-container" id="contributor-1">
        	    <div  class="person">
        	        <div class="pic">
        	            <img src="/Content/_v2/website-assets/img/contributors/pic1.jpg" alt="Anthony" width="100%" />    
        	        </div>
        	        <div class="details-container">
        	            <img src="/Content/_v2/website-assets/img/contributors/pic1.jpg" alt="" width="100%" /> 
        	            <div class="details">
        	                <span class="label">Name:</span> <span class="value">Anthony</span>
    	                    <a href="http://twitter.com/anthony_vdh" class="twitter-link"><span class="icon small-twitter"></span>
    	                        @@anthony_vdh
    	                    </a>
    	                    <a href="http://github.com/avanderhoorn" class="github-link"><span class="icon small-github"></span>
    	                        avanderhoorn
    	                    </a>
        	            </div>
        	        </div>
        	    </div>
        	</div>
        	<!--split between contributors-->
	        <div class="person-container" id="contributor-2">
	            <div  class="person">
	                <div class="pic">
	                    <img src="/Content/_v2/website-assets/img/contributors/pic2.jpg" alt="Nik" width="100%" />    
	                </div>
	                <div class="details-container">
	                    <img src="/Content/_v2/website-assets/img/contributors/pic2.jpg" alt="Nik" width="100%" /> 
	                    <div class="details">
	                        <span class="label">Name:</span> <span class="value">Nik</span>
        	                        
	                        <a href="http://twitter.com/nikmd23" class="twitter-link"><span class="icon small-twitter"></span>
	                            @@nikmd23
	                        </a>
	                        <a href="http://github.com/nikmd23" class="github-link"><span class="icon small-github"></span>
	                            nikmd23
	                        </a>      	                    
	                    </div>
	                </div>
	            </div>
	        </div>
            <!--split between contributors-->
        	<div class="person-container" id="contributor-2">
        	    <div  class="person">
        	        <div class="pic">
        	            <img src="/Content/_v2/website-assets/img/contributors/chris.jpg" alt="Chris" width="100%" />    
        	        </div>
        	        <div class="details-container">
        	            <img src="/Content/_v2/website-assets/img/contributors/chris.jpg" alt="Chris" width="100%" /> 
        	            <div class="details">
        	                <span class="label">Name:</span> <span class="value">Christophe</span>
        	                        
        	                    <a href="http://twitter.com/CGijbels" class="twitter-link"><span class="icon small-twitter"></span>
        	                        @@CGijbels
        	                    </a>
        	                    <a href="http://github.com/CGijbels" class="github-link"><span class="icon small-github"></span>
        	                        CGijbels
        	                    </a>      	                    
        	            </div>
        	        </div>
        	    </div>
        	</div>
	        <!--split between contributors-->
        	<div class="person-container" id="contributor-3">
        	    <div  class="person">
        	        <div class="pic">
        	            <img src="/Content/_v2/website-assets/img/contributors/pic3.jpg" alt="Kristoffer Ahl" width="100%" />    
        	        </div>
        	        <div class="details-container">
        	            <img src="/Content/_v2/website-assets/img/contributors/pic3.jpg" alt="Kristoffer Ahl" width="100%" /> 
        	            <div class="details">
        	                <span class="label">Name:</span> <span class="value">Kristoffer Ahl</span>
        	                        
        	                    <a href="http://twitter.com/kristofferahl" class="twitter-link"><span class="icon small-twitter"></span>
        	                        @@kristofferahl
        	                    </a>
        	                    <a href="http://github.com/kristofferahl" class="github-link"><span class="icon small-github"></span>
        	                        kristofferahl
        	                    </a>
        	                        
        	            </div>
        	        </div>
        	    </div>
        	</div>
        	<!--split between contributors-->
        	<div class="person-container" id="contributor-4">
        	    <div  class="person">
        	        <div class="pic">
        	            <img src="/Content/_v2/website-assets/img/contributors/pic4.jpg" alt="Steven Lauwers" width="100%" />    
        	        </div>
        	        <div class="details-container">
        	            <img src="/Content/_v2/website-assets/img/contributors/pic4.jpg" alt="Steven Lauwers" width="100%" /> 
        	            <div class="details">
        	                <span class="label">Name:</span> <span class="value">Steven Lauwers</span>
        	                        
        	                    <a href="http://twitter.com/steven_lauwers" class="twitter-link"><span class="icon small-twitter"></span>
        	                        @@steven_lauwers
        	                    </a>
        	                    <a href="http://github.com/stevenlauwers22" class="github-link"><span class="icon small-github"></span>
        	                        stevenlauwers22
        	                    </a>
        	                    
        	            </div>
        	        </div>
        	    </div>
        	</div>
        	<!--split between contributors-->
        	<div class="person-container" id="contributor-5">
        	    <div  class="person">
        	        <div class="pic">
        	            <img src="/Content/_v2/website-assets/img/contributors/pic5.jpg" alt="Richard van der Hoff" width="100%" />    
        	        </div>
        	        <div class="details-container">
        	            <img src="/Content/_v2/website-assets/img/contributors/pic5.jpg" alt="Richard van der Hoff" width="100%" /> 
        	            <div class="details">
        	                <span class="label">Name:</span> <span class="value">Richard van der Hoff</span>
        	                <a href="http://twitter.com/richvdh" class="twitter-link"><span class="icon small-twitter"></span>
        	                    @@richvdh
        	                </a>
        	                <a href="http://github.com/richvdh" class="github-link"><span class="icon small-github"></span>
        	                    richvdh
        	                </a>
        	            </div>
        	        </div>
        	    </div>
        	</div>
        	<!--split between contributors-->
        	<div class="person-container" id="contributor-6">
        	    <div  class="person">
        	        <div class="pic">
        	            <img src="/Content/_v2/website-assets/img/contributors/pic6.jpg" alt="Richard Oliver" width="100%" />    
        	        </div>
        	        <div class="details-container">
        	            <img src="/Content/_v2/website-assets/img/contributors/pic6.jpg" alt="Richard Oliver" width="100%" /> 
        	            <div class="details">
        	                <span class="label">Name:</span> <span class="value">Richard Oliver</span>
        	                <a href="http://github.com/rho24" class="github-link"><span class="icon small-github"></span>
        	                    rho24
        	                </a>
        	            </div>
        	        </div>
        	    </div>
        	</div>
        	<!--split between contributors-->
        	<div class="person-container" id="contributor-7">
        	    <div  class="person">
        	        <div class="pic">
        	            <img src="/Content/_v2/website-assets/img/contributors/pic7.jpg" alt="Anthony" width="100%" />    
        	        </div>
        	        <div class="details-container">
        	            <img src="/Content/_v2/website-assets/img/contributors/pic7.jpg" alt="Anthony" width="100%" /> 
        	            <div class="details">
        	                <span class="label">Name:</span> <span class="value">Adam Schroder</span>
        	                <a href="http://twitter.com/schotime" class="twitter-link"><span class="icon small-twitter"></span>
        	                    @@schotime
        	                </a>
        	                <a href="http://github.com/schotime" class="github-link"><span class="icon small-github"></span>
        	                    schotime
        	                </a>
        	            </div>
        	        </div>
        	    </div>
        	</div>
        	<!--split between contributors-->
        	<div class="person-container" id="contributor-8">
        	    <div  class="person">
        	        <div class="pic">
        	            <img src="/Content/_v2/website-assets/img/contributors/pic8.jpg" alt="Pete Hotchkin" width="100%" />    
        	        </div>
        	        <div class="details-container">
        	            <img src="/Content/_v2/website-assets/img/contributors/pic8.jpg" alt="Pete Hotchkin" width="100%" /> 
        	            <div class="details">
        	                <span class="label">Name:</span> <span class="value">Pete Hotchkin</span>
        	                <a href="http://twitter.com/headloose" class="twitter-link"><span class="icon small-twitter"></span>
        	                    @@headloose
        	                </a>
        	            </div>
        	        </div>
        	    </div>
        	</div>
        	<!--split between contributors-->
        	<div class="person-container" id="contributor-9">
        	    <div  class="person">
        	        <div class="pic">
        	            <img src="/Content/_v2/website-assets/img/contributors/pic9.jpg" alt="Elizabeth Ayer" width="100%" />    
        	        </div>
        	        <div class="details-container">
        	            <img src="/Content/_v2/website-assets/img/contributors/pic9.jpg" alt="Elizabeth Ayer" width="100%" /> 
        	            <div class="details">
        	                <span class="label">Name:</span> <span class="value">Elizabeth Ayer</span>
        	                <a href="http://twitter.com/ElizAyer" class="twitter-link"><span class="icon small-twitter"></span>
        	                    @@ElizAyer
        	                </a>
        	            </div>
        	        </div>
        	    </div>
        	</div>
        	<!--split between contributors-->
        	<div class="person-container" id="contributor-10">
        	    <div  class="person">
        	        <div class="pic">
        	            <img src="/Content/_v2/website-assets/img/contributors/pic10.jpg" alt="Maarten Balliauw" width="100%" />    
        	        </div>
        	        <div class="details-container">
        	            <img src="/Content/_v2/website-assets/img/contributors/pic10.jpg" alt="Maarten Balliauw" width="100%" /> 
        	            <div class="details">
        	                <span class="label">Name:</span> <span class="value">Maarten Balliauw</span>
        	                <a href="http://twitter.com/maartenballiauw" class="twitter-link"><span class="icon small-twitter"></span>
        	                    @@maartenballiauw
        	                </a>
        	                <a href="https://github.com/maartenba" class="github-link"><span class="icon small-github"></span>
        	                    maartenba
        	                </a>
        	                        
        	            </div>
        	        </div>
        	    </div>
        	</div>
        	<!--split between contributors-->
        	<div class="handwritten help-us">Help us out, and get your name in lights. Jump in and contribute on <a href="http://github.com/glimpse/glimpse">GitHub</a></div>        	        <!--split between contributors-->
        	<hr class="clearer" />
        	<div class="community-thankyou">Thanks to all of you who have helped along the way. Our community is great!</div>
    	</div>
