<h1>The people who are helping us&#133; </h1>
    	<div id="people">
        	<!--split between contributors-->
        	<div class="handwritten help-us">Help us out, and get your name in lights. Jump in and contribute on <a href="http://github.com/glimpse/glimpse">GitHub</a></div>        	        <!--split between contributors-->
        	<hr class="clearer" />
        	<div class="community-thankyou">Thanks to all of you who have helped along the way. Our community is great!</div>
    	</div>
