@{
    ViewBag.Title = "Glimpse - the open source diagnostics platform of the web";
    ViewBag.bodyClass = "home-page";
}

<div class="section-container" id="intro">
        <section>
        	<a href="/" id="logo"><span class="hidden">glimpse - home page</span></a>
        	<div id="tag-line">server insight in browser</div>
        	<div id="monitor">
        	    <div class="inner-monitor">
        	        <a href="#" class="video-link">Watch the tour</a>
        	    </div>
        	</div>
        	<div id="the-team">
        	    <div id="osguy-label"><span class="arrow down">&nbsp;</span>
        	        You?<br /> <a href="http://www.github.com/glimpse/glimpse">We're open source</a>
        	    </div>
        	    <div id="anthony-label">
        	        <span class="arrow down-inverted">&nbsp;</span>Anthony
        	    </div>
        	    <div id="nik-label">
        	        Nik<span class="arrow left">&nbsp;</span>
        	    </div>
        	    <div class="team-member" id="osguy"></div>
        	    <div class="team-member" id="anthony"></div>
        	    <div class="team-member" id="nik"></div>
        	</div>
        </section>
    </div>
<div class="section-container" id="demo">
    <section>
    	<h1>The server information you need&#133;where you want it</h1>
    	<p>Glimpse shows execution timings, server configuration, request data and more, all in browser, with no changes to your application code. <br /> Just install the NuGet package, and you're good to go!</p>
    	<div class="inner-monitor">
    	    <a href="#" class="video-link">Watch the tour</a>
    	</div>
    	<div id="tool-demo">
    	    <a class="hover-point" id="demo-hover-tabs" title="See activity for your current request in the tabs below.">&nbsp;</a>
    	    <a class="hover-point" id="demo-hover-autocustom" title="Install add-on packages for additional framework-specific information.">&nbsp;</a>
    	    <a class="hover-point" id="demo-hover-tab-detail" title="Select a tab of interest to see more details.">&nbsp;</a>
    	    <a class="hover-point" id="demo-hover-ajax" title="Switch Glimpse context to other requests with Ajax and History.">&nbsp;</a>
    	    <a class="hover-point" id="demo-hover-power" title="Minimize the Glimpse panel and reopen it when you want it.">&nbsp;</a>
    	    <img src="/Content/_v2/website-assets/img/glimpse-tool.png" alt="glimpse, the tool" width="100%" />
    	</div>
    	<a class="button" href="#">Try it for yourself &rarr;</a>
    	<p class="sub-text">Glimpse currently supports ASP.NET MVC, ASP.NET Webforms. Additional extensions show data for Entity Framework, nHibernate, MiniProfiler and <a href="/Packages">more</a>.<br />
    	Can't see your tech above? <a href="http://groups.google.com/forum/?fromgroups#!forum/getglimpse-dev">Talk to us</a> about supporting it!</p>
    </section>
</div>
<div class="section-container" id="why-glimpse">
    <section>
    	<div class="threeColumn column1">
    	    <div class="innerColumn">
    	        <div class="large-icon">&nbsp;</div>
    	        <h2>What it does</h2>
    	        <p>Install the Glimpse package into your project, then use it like browser tools (such as <a href="https://developers.google.com/chrome-developer-tools/docs/overview">Chrome Developer Tools</a>, <a href="http://msdn.microsoft.com/en-us/library/ie/gg589512(v=vs.85).aspx>F12 Tools</a> or <a href="https://getfirebug.com/">FireBug</a>) in developing your web site. It shows your server configuration, model binding, URL routing, detailed execution times, and more.</p>
    	    </div>
    	</div>
    	<div class="threeColumn column2">
    	    <div class="innerColumn">
    	        <div class="large-icon fit">&nbsp;</div>
    	        <h2>Where it fits</h2>
    	        <p>Glimpse has a bunch of server-side collectors which feed data to a collapsible panel at the bottom of your web page. With configurable security policies, you can safely use it to debug applications in production as well as development. 
    	    </div>
    	</div>
    	<div class="threeColumn column3">
    	    <div class="innerColumn">
    	        <div class="large-icon open-source">&nbsp;</div>
    	        <h2>Free &amp; open source</h2>
    	        <p>Thanks to <a href="/Community">community</a> contributions, Glimpse is thriving and remains <b>free</b> for any purpose (<a href="http://opensource.org/licenses/apache2.0">Apache License 2.0</a>). Jump in and look: here's the <a href="http://github.com/glimpse/glimpse">code</a>!</p>
    	    </div>
    	</div>
    	<hr class="clearer" />
    </section>
</div>
<div class="section-container" id="contributors">
    <section>
    	@Html.Partial("_Contributors")
    </section>
</div>
<div class="section-container" id="blog-section">
    <section>
    	<h1>That's what we're talking about&#133;</h1>
    	<div class="twoColumn column1">
            <div class="innerColumn">
                <h2>Loading blog</h2>
            </div>
    	    
    	</div>
    	<div class="twoColumn column2">
    	   <div class="innerColumn">
    	   </div>
    	</div>
    	<hr class="clearer" />
            <div class="extra-blog-info">
    	            Please visit our blog for lots more....<br />
    	            <a href="http://blog.getglimpse.com" class="button">Our blog &rarr;</a>
    	     </div>
    	</div>
    </section>
</div>
