@{
    ViewBag.Title = "Glimpse - A client side look at whats going on in your server";
}

<section class="g one-whole stats-root-menu">
    <div class="stat-group">
        <dl class="stat">
            <dt class="stat__title gamma">Community</dt>
            <dd class="stat__value"><a href="@Url.Action(MVC.Community.Index())" class="sprite sprite-root sprite-root-community"></a></dd>
            <dd class="stat__value hide--palm">who's involved &amp; how you can help</dd>
        </dl>
        <dl class="stat">
            <dt class="stat__title gamma">Documentation</dt>
            <dd class="stat__value"><a href="/Help" class="sprite sprite-root sprite-root-documentation"></a></dd>
            <dd class="stat__value hide--palm">how to get started &amp; all the fine details</dd>
        </dl>
        <dl class="stat">
            <dt class="stat__title gamma">Extensions</dt>
            <dd class="stat__value"><a href="@Url.Action(MVC.Packages.Index())" class="sprite sprite-root sprite-root-plugins"></a></dd>
            <dd class="stat__value hide--palm">what else exists in the ecosystem</dd>
        </dl>
        <dl class="stat">
            <dt class="stat__title gamma">Support</dt>
            <dd class="stat__value"><a href="@Url.Action(MVC.Home.Support())" class="sprite sprite-root sprite-root-support"></a></dd>
            <dd class="stat__value hide--palm">need some help or found an issue for us</dd>
        </dl>
    </div>
</section>
<section>
    <div class="g one-half palm-one-whole">
        <h2>About</h2>
        <p>With the state of diagnostics on the web being where it is, we are left needing to perform a job that is much harder than it should be. Too often, the tools we are provided with only show us a part of the picture, leaving us to simply guess what might be happening behind the scenes.</p>
        <p>Glimpse is an Open Source platform that aims to change the way we think about diagnostics and the frameworks we interact with. After releasing Glimpse at Mix11, Glimpse has become a tool that is used daily by tens of thousands of developers around the world. Learn how to use Glimpse to reveal what is happening within your ASP.NET MVC and WebForms sites. See what tools are included out of the box and see how you can easily extend it to suit your needs.</p>
        
        <h2>Getting Started</h2>
        <p>Glimpse has to be added on a per-site basis, not once per server. It does not make any changes outside of your project or web site directory. It can be installed easily via Nuget or manually by referencing the relevant DLLs. To get up and running your simply need to:</p>
        <ol>
            <li>Install the Glimpse server components.</li>
            <li>Enable Glimpse for your site on the server.</li>
            <li>Turn on Glimpse in the browser by setting a cookie.</li>
            <li>Click on the Glimpse logo in the bottom right hand corner of your page.</li>
        </ol> 
    </div>
    <div class="g one-half palm-one-whole">
        <h2>What Does It Do</h2>
        <p>Glimpse gathers detailed diagnostic information about the behavior and execution of your web application. While it has been built with .Net projects in mind, other platforms are also on the horizon. Glimpse works by collecting information on the server with each page request and, before the response is sent, formats that data and sends it as JSON to the client.</p>
        <p>Aside from offering out-of-the-box debugging information, it also opens up opportunities to take advantage of diagnostics tools that have been historically neglected or under-utilized such as the Trace object.<br /><br /></p>

        <h2>Installation</h2>
        <p>Installing Glimpse is incredibly easy. It can be installed manually but by far the easiest way is to use Visual Studio's Nuget package manager. Simply open Nuget and search the online package site for "Glimpse". Depending on whether you're building an ASP.Net webforms or MVC site, pick the appropriate package and click the corresponding Install button. Nuget will download and install Glimpse in your solution.</p>
        <p>When you're ready to start using Glimpse, simply browse to <code>http://your-application-url/Glimpse.axd</code> and click "Turn Glimpse On".</p>
    </div>
</section>