@{
    ViewBag.Title = "Glimpse - the open source diagnostics platform of the web";
    ViewBag.bodyClass = "home-page";
}

<div class="section-container" id="intro">
        <section>
        	<a href="/" id="logo"><span class="hidden">glimpse - home page</span></a>
        	<div id="tag-line">instant insight into web apps</div>
        	<div id="monitor">
        	    <div class="inner-monitor">
        	        <a href="#" class="video-link">Watch the tour</a>
        	    </div>
        	</div>
        	<div id="the-team">
        	    <div id="osguy-label"><span class="arrow down">&nbsp;</span>
        	        You?<br /> <a href="http://www.github.com/glimpse/glimpse">We're open source</a>
        	    </div>
        	    <div id="anthony-label">
        	        <span class="arrow down-inverted">&nbsp;</span>Anthony
        	    </div>
        	    <div id="nik-label">
        	        Nik<span class="arrow left">&nbsp;</span>
        	    </div>
        	    <div class="team-member" id="osguy"></div>
        	    <div class="team-member" id="anthony"></div>
        	    <div class="team-member" id="nik"></div>
        	</div>
        </section>
    </div>
<div class="section-container" id="demo">
    <section>
    	<h1>The server information you need&#133;where you need it</h1>
    	<p>Glimpse. Debug. Understand. What firebug does for the client, Glimpse does for the server.<br /> It sits at the bottom of your browser, telling you what's happening on your server.</p>
    	<div class="inner-monitor">
    	    <a href="#" class="video-link">Watch the tour</a>
    	</div>
    	<div id="tool-demo">
    	    <a class="hover-point" id="demo-hover-tabs" title="All the tabs below describe the activity for your current request.">&nbsp;</a>
    	    <a class="hover-point" id="demo-hover-autocustom" title="Depending on what packages you install Glimpse will show give you different tabs.">&nbsp;</a>
    	    <a class="hover-point" id="demo-hover-tab-detail" title="At any time you can select a tab of interest to see more details.">&nbsp;</a>
    	    <a class="hover-point" id="demo-hover-ajax" title="Ajax & History allow you to switch Glimpse to focus on other requests.">&nbsp;</a>
    	    <a class="hover-point" id="demo-hover-power" title="At any time you can open or close Glimpse.">&nbsp;</a>
    	    <img src="/_Content/website-assets/img/glimpse-tool.png" alt="glimpse, the tool" width="100%" />
    	</div>
    	<a class="button" href="#">Try it for yourself &rarr;</a>
    	<p class="sub-text">Glimpse current supports the following technologies: ASP.NET MVC, ASP.NET Webforms.
    	Can't see your tech above? Talk to us about suporting it!</p>
    </section>
</div>
<div class="section-container" id="why-glimpse">
    <section>
    	<div class="threeColumn column1">
    	    <div class="innerColumn">
    	        <div class="large-icon">&nbsp;</div>
    	        <h2>What it does</h2>
    	        <p>It is used in a similar manner to client side diagnostics and debugging tools (such as <a href="https://getfirebug.com/">FireBug</a> or <a href="https://developers.google.com/chrome-developer-tools/docs/overview">Chrome Developer Tools</a>), but instead focuses on concepts such as server configuration, model binding, url routing, and execution profiling.</p>
    	    </div>
    	</div>
    	<div class="threeColumn column2">
    	    <div class="innerColumn">
    	        <div class="large-icon fit">&nbsp;</div>
    	        <h2>Where it fits</h2>
    	        <p>Too often, the tools we are provided with only show us a part of the picture, leaving us to simply guess what might be happening behind the scenes.</p>
    	        <p>Glimpse is an Open Source platform that aims to change the way we think about diagnostics and the frameworks we interact with. After releasing Glimpse at Mix11, Glimpse has become a tool that is used daily by tens of thousands of developers around the world.</p>
    	    </div>
    	</div>
    	<div class="threeColumn column3">
    	    <div class="innerColumn">
    	        <div class="large-icon open-source">&nbsp;</div>
    	        <h2>Free &amp; open source</h2>
    	        <p>From the start, Glimpse has been Open Source and accepting contributions from the <a href="/Community">community</a>. Glimpse has only been made possible by these contributions and community involvement - thanks to everyone who has made this possible.</p>
    	        <p>All this means that Glimpse is Free and you can download and modify the code as you like (we are <a href="http://opensource.org/licenses/apache2.0">Apache License 2.0</a>). If you want to get involved or contribute in any way, feel free to reach and get involved - we can help you get started or take a look at the <a href="http://github.com/glimpse/glimpse">code</a>!</p>
    	    </div>
    	</div>
    	<hr class="clearer" />
    </section>
</div>
<div class="section-container" id="contributors">
    <section>
    	<h1>The people who are helping us&#133; </h1>
    	<div id="people">
    	    <div class="person-container" id="contributor-1">
        	    <div  class="person">
        	        <div class="pic">
        	            <img src="/_Content/website-assets/img/contributors/pic1.jpg" alt="Anthony" width="100%" />    
        	        </div>
        	        <div class="details-container">
        	            <img src="/_Content/website-assets/img/contributors/pic1.jpg" alt="" width="100%" /> 
        	            <div class="details">
        	                <span class="label">Name:</span> <span class="value">Anthony</span>
    	                    <a href="http://twitter.com/anthony_vdh" class="twitter-link"><span class="icon small-twitter">&nbsp;</span>
    	                        @@anthony_vdh
    	                    </a>
    	                    <a href="http://github.com/avanderhoorn" class="github-link"><span class="icon small-github">&nbsp;</span>
    	                        avanderhoorn
    	                    </a>
        	            </div>
        	        </div>
        	    </div>
        	</div>
        	<!--split between contributors-->
        	<div class="person-container" id="contributor-2">
        	    <div  class="person">
        	        <div class="pic">
        	            <img src="/_Content/website-assets/img/contributors/pic2.jpg" alt="Nik" width="100%" />    
        	        </div>
        	        <div class="details-container">
        	            <img src="/_Content/website-assets/img/contributors/pic2.jpg" alt="Nik" width="100%" /> 
        	            <div class="details">
        	                <span class="label">Name:</span> <span class="value">Nik</span>
        	                        
        	                    <a href="http://twitter.com/anthony_vdh" class="twitter-link"><span class="icon small-twitter">&nbsp;</span>
        	                        @@nikmd23
        	                    </a>
        	                    <a href="http://github.com/avanderhoorn" class="github-link"><span class="icon small-github">&nbsp;</span>
        	                        nikmd23
        	                    </a>      	                    
        	            </div>
        	        </div>
        	    </div>
        	</div>
        	<!--split between contributors-->
        	<div class="person-container" id="contributor-3">
        	    <div  class="person">
        	        <div class="pic">
        	            <img src="/_Content/website-assets/img/contributors/pic3.jpg" alt="Kristoffer Ahl" width="100%" />    
        	        </div>
        	        <div class="details-container">
        	            <img src="/_Content/website-assets/img/contributors/pic3.jpg" alt="Kristoffer Ahl" width="100%" /> 
        	            <div class="details">
        	                <span class="label">Name:</span> <span class="value">Kristoffer Ahl</span>
        	                        
        	                    <a href="http://twitter.com/kristofferahl" class="twitter-link"><span class="icon small-twitter">&nbsp;</span>
        	                        @@kristofferahl
        	                    </a>
        	                    <a href="http://github.com/kristofferahl" class="github-link"><span class="icon small-github">&nbsp;</span>
        	                        kristofferahl
        	                    </a>
        	                        
        	            </div>
        	        </div>
        	    </div>
        	</div>
        	<!--split between contributors-->
        	<div class="person-container" id="contributor-4">
        	    <div  class="person">
        	        <div class="pic">
        	            <img src="/_Content/website-assets/img/contributors/pic4.jpg" alt="Steven Lauwers" width="100%" />    
        	        </div>
        	        <div class="details-container">
        	            <img src="/_Content/website-assets/img/contributors/pic4.jpg" alt="Steven Lauwers" width="100%" /> 
        	            <div class="details">
        	                <span class="label">Name:</span> <span class="value">Steven Lauwers</span>
        	                        
        	                    <a href="http://twitter.com/anthony_vdh" class="twitter-link"><span class="icon small-twitter">&nbsp;</span>
        	                        @@steven_lauwers
        	                    </a>
        	                    <a href="http://github.com/stevenlauwers22" class="github-link"><span class="icon small-github">&nbsp;</span>
        	                        stevenlauwers22
        	                    </a>
        	                    
        	            </div>
        	        </div>
        	    </div>
        	</div>
        	<!--split between contributors-->
        	<div class="person-container" id="contributor-5">
        	    <div  class="person">
        	        <div class="pic">
        	            <img src="/_Content/website-assets/img/contributors/pic5.jpg" alt="Richard van der Hoff" width="100%" />    
        	        </div>
        	        <div class="details-container">
        	            <img src="/_Content/website-assets/img/contributors/pic5.jpg" alt="Richard van der Hoff" width="100%" /> 
        	            <div class="details">
        	                <span class="label">Name:</span> <span class="value">Richard van der Hoff</span>
        	                <a href="http://twitter.com/richvdh" class="twitter-link"><span class="icon small-twitter">&nbsp;</span>
        	                    @@richvdh
        	                </a>
        	                <a href="http://github.com/richvdh" class="github-link"><span class="icon small-github">&nbsp;</span>
        	                    richvdh
        	                </a>
        	            </div>
        	        </div>
        	    </div>
        	</div>
        	<!--split between contributors-->
        	<div class="person-container" id="contributor-6">
        	    <div  class="person">
        	        <div class="pic">
        	            <img src="/_Content/website-assets/img/contributors/pic6.jpg" alt="Richard Oliver" width="100%" />    
        	        </div>
        	        <div class="details-container">
        	            <img src="/_Content/website-assets/img/contributors/pic6.jpg" alt="Richard Oliver" width="100%" /> 
        	            <div class="details">
        	                <span class="label">Name:</span> <span class="value">Richard Oliver</span>
        	                <a href="http://github.com/rho24" class="github-link"><span class="icon small-github">&nbsp;</span>
        	                    rho24
        	                </a>
        	            </div>
        	        </div>
        	    </div>
        	</div>
        	<!--split between contributors-->
        	<div class="person-container" id="contributor-7">
        	    <div  class="person">
        	        <div class="pic">
        	            <img src="/_Content/website-assets/img/contributors/pic7.jpg" alt="Anthony" width="100%" />    
        	        </div>
        	        <div class="details-container">
        	            <img src="/_Content/website-assets/img/contributors/pic7.jpg" alt="Anthony" width="100%" /> 
        	            <div class="details">
        	                <span class="label">Name:</span> <span class="value">Adam Schroder</span>
        	                <a href="http://twitter.com/schotime" class="twitter-link"><span class="icon small-twitter">&nbsp;</span>
        	                    @@schotime
        	                </a>
        	                <a href="http://github.com/schotime" class="github-link"><span class="icon small-github">&nbsp;</span>
        	                    schotime
        	                </a>
        	            </div>
        	        </div>
        	    </div>
        	</div>
        	<!--split between contributors-->
        	<div class="person-container" id="contributor-8">
        	    <div  class="person">
        	        <div class="pic">
        	            <img src="/_Content/website-assets/img/contributors/pic8.jpg" alt="Pete Hotchkin" width="100%" />    
        	        </div>
        	        <div class="details-container">
        	            <img src="/_Content/website-assets/img/contributors/pic8.jpg" alt="Pete Hotchkin" width="100%" /> 
        	            <div class="details">
        	                <span class="label">Name:</span> <span class="value">Pete Hotchkin</span>
        	                <a href="http://twitter.com/headloose" class="twitter-link"><span class="icon small-twitter">&nbsp;</span>
        	                    @@headloose
        	                </a>
        	            </div>
        	        </div>
        	    </div>
        	</div>
        	<!--split between contributors-->
        	<div class="person-container" id="contributor-9">
        	    <div  class="person">
        	        <div class="pic">
        	            <img src="/_Content/website-assets/img/contributors/pic9.jpg" alt="Elizabeth Ayer" width="100%" />    
        	        </div>
        	        <div class="details-container">
        	            <img src="/_Content/website-assets/img/contributors/pic9.jpg" alt="Elizabeth Ayer" width="100%" /> 
        	            <div class="details">
        	                <span class="label">Name:</span> <span class="value">Elizabeth Ayer</span>
        	                <a href="http://twitter.com/ElizAyer" class="twitter-link"><span class="icon small-twitter">&nbsp;</span>
        	                    @@ElizAyer
        	                </a>
        	            </div>
        	        </div>
        	    </div>
        	</div>
        	<!--split between contributors-->
        	<div class="person-container" id="contributor-10">
        	    <div  class="person">
        	        <div class="pic">
        	            <img src="/_Content/website-assets/img/contributors/pic10.jpg" alt="Maarten Balliauw" width="100%" />    
        	        </div>
        	        <div class="details-container">
        	            <img src="/_Content/website-assets/img/contributors/pic10.jpg" alt="Maarten Balliauw" width="100%" /> 
        	            <div class="details">
        	                <span class="label">Name:</span> <span class="value">Maarten Balliauw</span>
        	                <a href="http://twitter.com/maartenballiauw" class="twitter-link"><span class="icon small-twitter">&nbsp;</span>
        	                    @@maartenballiauw
        	                </a>
        	                <a href="https://github.com/maartenba" class="github-link"><span class="icon small-github">&nbsp;</span>
        	                    maartenba
        	                </a>
        	                        
        	            </div>
        	        </div>
        	    </div>
        	</div>
        	<!--split between contributors-->
        	<div class="handwritten help-us">Help us out and get your name in lights. The easiest way is to contribute via <a href="http://github.com/glimpse/glimpse">github</a></div>        	        <!--split between contributors-->
        	<hr class="clearer" />
        	<div class="community-thankyou">There are lots of others that have helps along the way, thank you to all, our community is great!</div>
    	</div>
    </section>
</div>
<div class="section-container" id="blog-section">
    <section>
    	<h1>That's what we're talking about&#133;</h1>
    	<div class="twoColumn column1">
            <div class="innerColumn">
                <h2>Blog post 1</h2>
                <p>Bacon ipsum dolor sit amet bresaola prosciutto brisket ribeye pancetta. Meatball pork belly chicken capicola pig meatloaf bresaola venison pork ground round jerky pancetta bacon spare ribs. Ground round tongue turducken short ribs, meatball ham hock filet mignon tail chuck chicken pastrami. T-bone hamburger venison shoulder salami bresaola. Corned beef tri-tip bacon swine turducken chuck capicola rump sausage prosciutto meatball.</p>
            </div>
    	    
    	</div>
    	<div class="twoColumn column2">
    	   <div class="innerColumn">
                <h2>Blog post 2</h2>
                <p>Bacon ipsum dolor sit amet bresaola prosciutto brisket ribeye pancetta. Meatball pork belly chicken capicola pig meatloaf bresaola venison pork ground round jerky pancetta bacon spare ribs. Ground round tongue turducken short ribs, meatball ham hock filet mignon tail chuck chicken pastrami. T-bone hamburger venison shoulder salami bresaola. Corned beef tri-tip bacon swine turducken chuck capicola rump sausage prosciutto meatball.</p>
            </div>
    	</div>
    	<hr class="clearer" />
            <div class="extra-blog-info">
    	            We've written about lots more in our full blog. Please visit it.<br />
    	            <a href="#" class="button">Our blog &rarr;</a>
    	     </div>
    	</div>
    </section>
</div>