 @section header {
    <section>
        <h1>Support</h1>
        <div class="gamma">need some help or found an issue for us</div>
    </section>
}

<section>
    <div class="g one-whole">
        <h2>How can we help</h2>
        <p>Please select the topic that best describes the issue you are experiencing:</p> 
        <div class="stat-group stats-support">
            <dl class="stat">
                <dt class="stat__title delta">Issues</dt>  
                <dd class="stat__value">
                    If you have found an issue you think we should know about, let us know on our <a href="https://github.com/glimpse/glimpse/issues?milestone=1&sort=updated&state=open" target="_blank">issues list</a>.
                </dd>
            </dl>
            <dl class="stat">
                <dt class="stat__title delta">Developer List</dt>  
                <dd class="stat__value">
                    Get answers to questions and find out what is next for glimpse on our <a href="https://groups.google.com/forum/?fromgroups#!forum/getglimpse-dev" target="_blank">community user group</a>
                </dd>
            </dl>
            <dl class="stat">
                <dt class="stat__title delta">Twitter</dt>  
                <dd class="stat__value">
                    Feel free to get in touch with the us on twitter using either <a href="http://www.twitter.com/anthony_vdh" target="_blank">@@anthony_vdh</a> or <a href="http://www.twitter.com/nikmd23" target="_blank">@@nikmd23</a>
                </dd>
            </dl>
        </div>
    </div>
</section>