@using Glimpse.Site.Extensions
@model Glimpse.Site.Models.DocumentationViewModel
@{
    ViewBag.Title = Model.Title;
} 

@section header {
    <section>
        <h1>Documentation</h1>
        <div class="gamma">find out more</div>
    </section>
}

<section>
    <div class="g one-whole wiki">
        <div class="warning">
            <strong>NOTE:</strong> Glimpse documentation is currently being improved. If you'd like to help the effort, please <a href="@Model.EditUri">edit this page</a> or contribute to our <a href="https://github.com/Glimpse/Glimpse/wiki">GitHub Wiki</a>
        </div>
        <nav class="sidebar">
            @Html.RenderMarkdown(new FileInfo(Path.Combine(Model.MarkdownFile.DirectoryName, "_SideBar.md")))
        </nav>

        <div class="maincontent">
            @Html.RenderMarkdown(Model.MarkdownFile)
        </div>
    </div>
</section>