@using Glimpse.Site.Extensions
﻿@model Glimpse.Site.Models.DocumentationViewModel

@{
    ViewBag.Title = Model.Title;
    ViewBag.bodyClass = "docs-page";
}
@section header {
    <h1>Documentation</h1>
}
@section subnav {
    @Html.RenderMarkdown(new FileInfo(Path.Combine(Model.MarkdownFile.DirectoryName, "_SideBar.md")))
}

<div style="margin: auto; background-color: lightyellow; border: 1px solid goldenrod; color: goldenrod; margin-bottom: 10px; padding: 10px 0; text-align: center;">
    <strong>NOTE:</strong> Glimpse documentation is currently being improved. If you'd like to help the effort, please <a href="@Model.EditUri">edit this page</a> or contribute to our <a href="https://github.com/Glimpse/Glimpse/wiki">GitHub Wiki</a>
</div>

<div>
    @Html.RenderMarkdown(Model.MarkdownFile)
</div>