@model Glimpse.Site.Models.DocumentationViewModel
@{
    ViewBag.Title = "Getting Started - Glimpse -";
}

<div class="jumbotron">
    <div class="container">
        <h1>Getting Started</h1>
        <p>To get up and running with Glimpse is pretty simple. Together we are going to have a look at getting this up and running for you.</p>
    </div>
</div>

<div class="container content content-normal">
    <div class="row">
        <div class="col-xs-9"> 
            <h2>Installation</h2>

            <p>More details can be found <a href="/Docs/Installation">here</a></p>
 

            <h2>First run</h2>

            <p>More details can be found <a href="/Docs/First-Run">here</a></p>
 

            <h2>Using Glimpse</h2>

            <p>More details can be found <a href="/Docs/Using-Glimpse">here</a></p>
 

            <h2>Configuration</h2>

            <p>More details can be found <a href="/Docs/Configuration">here</a></p>
 

            <h2>Additional Help</h2>

            <p>More details can be found <a href="/Docs/Additional-Help">here</a></p>
 

            <h2>More Information</h2>

            <p>More details can be found <a href="/Docs/More-Information">here</a></p>
        </div>
        <div class="col-xs-3">
            <div style="margin: 20px 0 0; background-color: #F0F7FD; padding: 20px 20px 10px 5px;">@Html.RenderMarkdown(Model.SideBarFile)</div>
        </div>
    </div>
</div>
