@{
    ViewBag.Title = "Glimpse - Documentation";
}

@section header {
    <section>
        <h1>Documentation</h1>
        <div class="gamma">find out more</div>
    </section>
}

<section>
    <div class="g one-whole" style="text-align: center;">
        <h2>Coming Soon</h2>
        <p>We are working on bringing out GitHub wiki docs into the site. In the mean time you can access the docs <a href="https://github.com/glimpse/glimpse/wiki">directly</a>.</p>
    </div>
</section>