@using Glimpse.Site.Extensions
@model Glimpse.Site.Models.DocumentationViewModel

@{
    ViewBag.Title = Model.Title;
}

<nav style="float: left;">
    @Html.RenderMarkdown(new FileInfo(Path.Combine(Model.MarkdownFile.DirectoryName, "_SideBar.md")))
</nav>

<a href="@Model.EditUri">Edit Me!</a>
<div>
    @Html.RenderMarkdown(Model.MarkdownFile)
</div>

@section header {
    <section>
        <h1>Documentation</h1>
        <div class="gamma">find out more</div>
    </section>
}