.header-inner,
.body-inner,
.footer-inner {
  padding: 2em 2em 0 2em;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  min-height: 125px;
}
.header-inner {
  padding-top: 0;
}
header,
.header {
  color: #ffffff;
  background-color: #323d42;
}
header h1,
.header h1 {
  font-weight: normal;
  padding-top: 0.5em;
  line-height: 1;
  margin-bottom: 0.35em;
}
header .logo-sub,
.header .logo-sub {
  height: 125px;
  width: 143px;
  background-repeat: no-repeat;
  background-image: url(logo-medium.png);
  background-position: 0 -18px;
}
header .stats-sub-menu,
.header .stats-sub-menu {
  margin: 1em 3em;
}
header .stats-sub-menu .stat,
.header .stats-sub-menu .stat {
  text-align: center;
  margin-bottom: 0;
}
header .stats-sub-menu .stat__title,
.header .stats-sub-menu .stat__title {
  margin-bottom: 0.5em;
}
footer .g,
.footer .g {
  text-align: center;
}
footer .bottom-backing,
.footer .bottom-backing {
  padding-bottom: 2em;
}
footer .bottom-backing img,
.footer .bottom-backing img {
  margin: 0 0.5em;
}
.body-inner .stats-root-menu {
  text-align: center;
}
.body-inner .stats-root-menu .stat {
  width: 20%;
  min-width: 170px;
  max-width: 210px;
  margin: 0 4% 2em;
}
.body-inner .stats-root-menu a {
  margin-top: 1em;
}
.body-inner .stats-contributors {
  text-align: center;
}
.body-inner .stats-contributors .stat__title {
  margin-bottom: 0.75em;
}
.body-inner .stats-support {
  text-align: center;
  vertical-align: top;
}
.body-inner .stats-support .stat {
  width: 30%;
  min-width: 170px;
  max-width: 360px;
}
.body-inner .stats-sub-menu {
  text-align: center;
  margin: -0.5em 0 0;
}
.body-inner .stats-sub-menu .stat {
  width: 20%;
  min-width: 140px;
  max-width: 210px;
}
.body-inner .stats-sub-menu .stat__title {
  margin-bottom: 0.5em;
}
.body-inner .stats-next {
  text-align: center;
}
.body-inner .stats-next .stat {
  width: 30%;
  min-width: 330px;
  max-width: 360px;
}
.body-inner .glimpse-panel {
  display: block;
  margin-bottom: 3em;
}
.sprite {
  background-repeat: no-repeat;
  display: inline-block;
}
.sprite.sprite-root {
  background-image: url(options-root.png);
  height: 63px;
  width: 63px;
}
.sprite.sprite-root-download {
  background-position: -252px 0px;
}
.sprite.sprite-root-github {
  background-position: -315px 0px;
}
.sprite.sprite-root-community {
  background-position: 0 -63px;
}
.sprite.sprite-root-plugins {
  background-position: -126px -63px;
}
.sprite.sprite-root-documentation {
  background-position: -63px -63px;
}
.sprite.sprite-root-support {
  background-position: -189px -63px;
}
.home header .decal {
  height: 200px;
  margin: 9em auto 0 auto;
  white-space: nowrap;
}
@media only screen and (min-width: 1024px) and (max-width: 1499px) {
  .home header .decal {
    margin-top: 4em;
  }
}
.home header .decal a {
  margin-top: 1em;
}
.home header .g {
  text-align: center;
}
.home header .hide--desk .decal {
  margin: 0 auto;
}
.home header h1 {
  padding: 1em 0;
}
.home .header-inner {
  padding-top: 2em;
}
.layout {
  width: 100%;
  margin: 0;
  padding: 0;
}
.is-success {
  color: green;
}
.release-summary {
  text-align: center;
  margin: 20px 0;
}
.release-summary-title {
  font-size: 200%;
  padding-bottom: 10px;
}
.release-package {
  padding: 20px 0 50px;
}
.release-package-title h3 a {
  font-size: 40%;
}
.release-package-title img {
  float: right;
}
.release-package-not-found {
  font-style: italic;
}
.release-package-old-found .release-package-message-title {
  color: salmon;
}
.release-package-latest-found .release-package-message-title {
  color: royalblue;
}
.release-package-message {
  text-align: center;
  margin-top: 20px;
}
.release-package-message-title {
  margin-bottom: 10px;
}
.release-installed-version,
.release-latest-version {
  font-family: "avante garde", "Century Gothic", Serif;
}
.release-installed-version {
  margin-right: 30px;
}
.release-latest-version {
  margin-left: 30px;
}
.release-item-detail-holder {
  padding: 20px 40px;
}
.release-item-detail {
  padding: 5px 0;
}
.release-item-detail-title {
  margin-right: 100px;
}
.release-item-detail-notes {
  margin: 5px 0 5px 30px;
  padding: 10px 20px;
  background-color: #eee;
  border-radius: 3px;
  background: #eeeeee;
  background: -moz-linear-gradient(top, #eeeeee 0%, #f9f9f9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #f9f9f9));
  background: -webkit-linear-gradient(top, #eeeeee 0%, #f9f9f9 100%);
  background: -o-linear-gradient(top, #eeeeee 0%, #f9f9f9 100%);
  background: -ms-linear-gradient(top, #eeeeee 0%, #f9f9f9 100%);
  background: linear-gradient(to bottom, #eeeeee 0%, #f9f9f9 100%);
}
.release-item-detail-notes i {
  color: #bbb;
}
