@{
    ViewBag.Title = "Unauthorized";
}

<div class="important-container container">
    <h2>Unauthorized Access</h2>
    <p>Sorry, but it looks like you aren't permitted to view the page you requested.</p>
    <p>If you think this is wrong, please get in touch and let us know.</p>
</div>