@{
    ViewBag.Title = "401 - Unauthorized";
}

<div class="jumbotron">
    <div class="container">
        <h1>401 - Unauthorized Access</h1>
        <p>Sorry, but it looks like you aren't permitted to view the page you requested.</p>
    </div>
</div>

<div class="container content content-normal">
    <p>If you think this is wrong, please get in touch and let us know.</p>
</div>