@{
    ViewBag.Title = "Page Not Found";
}

@section header {
    <h1>Page Not Found</h1>
}

<p>The page you requested could not be found. This might&#39;ve been caused by:</p>
<ul>
    <li>A broken internal link</li>
    <li>An out-of-date search engine link</li>
    <li>A mis-typed URL or out-of-date bookmark</li>
</ul>

<section class="custom-search">
    <h2>Search Glimpse</h2>
    <script>
        (function () {
            var cx = '004084291630424881521:lxlj19pcjki';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                '//www.google.com/cse/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
        })();
    </script>
    <gcse:search></gcse:search>
</section>