@{
    ViewBag.Title = "Page Not Found";
}

<div class="important-container container">
    <h2>Page Not Found</h2>
    <p>The page you requested could not be found. This might've been caused by:</p>
    <ul>
        <li>A broken internal link</li>
        <li>An out-of-date search engine link</li>
        <li>A mis-typed URL or out-of-date bookmark</li>
    </ul>
</div>