@{
    ViewBag.Title = "404 - Page Not Found";
}
<div class="jumbotron">
    <div class="container">
        <h1>404 - Page Not Found</h1>
        <p>The page you requested could not be found. </p>
    </div>
</div>

<div class="container content content-normal">
    <p>The page you requested could not be found. This might've been caused by:</p>
    <ul>
        <li>A broken internal link</li>
        <li>An out-of-date search engine link</li>
        <li>A mis-typed URL or out-of-date bookmark</li>
    </ul>
</div>