@{
    ViewBag.Title = "Server Error";
}

<div class="jumbotron">
    <div class="container">
        <h1>Internal Server Error</h1>
        <p>Oooops! </p>
    </div>
</div>

<div class="container content content-normal">
    <p>We make a habit of automatically tracking this sort of thing, but if the problem continues please feel free to contact us.</p>
</div>

