body {
  background-color: #323d42;
}
.header-inner,
.body-inner,
.footer-inner {
  padding: 2em 2em 0 2em;
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  min-height: 125px;
}
.header-inner {
  padding-top: 0;
}
a,
a:active,
a:visited {
  color: #33a6ee;
  text-decoration: underline;
}
header,
.header {
  color: #ffffff;
  background-color: #323d42;
}
header h1,
.header h1 {
  font-weight: normal;
  padding-top: 0.5em;
  line-height: 1;
  margin-bottom: 0.35em;
}
header .logo-sub,
.header .logo-sub {
  height: 125px;
  width: 143px;
  background-repeat: no-repeat;
  background-image: url(site-main-logo-medium.png);
  background-position: 0 -18px;
}
header .stats-sub-menu,
.header .stats-sub-menu {
  margin: 1em 3em;
}
header .stats-sub-menu .stat,
.header .stats-sub-menu .stat {
  text-align: center;
  margin-bottom: 0;
}
header .stats-sub-menu .stat__title,
.header .stats-sub-menu .stat__title {
  margin-bottom: 0.5em;
}
footer,
.footer {
  background-color: #323d42;
  color: #ffffff;
  padding-top: 3px;
}
footer .g,
.footer .g {
  text-align: center;
}
footer .bottom-backing,
.footer .bottom-backing {
  padding-bottom: 2em;
}
footer .bottom-backing img,
.footer .bottom-backing img {
  margin: 0 0.5em;
}
footer .footer-inner,
.footer .footer-inner {
  min-height: 90px;
}
footer .footer-outer,
.footer .footer-outer {
  border-top: 1px solid #ffffff;
}
.body {
  background-color: #ffffff;
  padding-bottom: 30px;
}
.body-inner .stats-root-menu {
  text-align: center;
}
.body-inner .stats-root-menu .stat {
  width: 20%;
  min-width: 170px;
  max-width: 180px;
  margin: 0 4% 2em;
}
.body-inner .stats-root-menu a {
  margin-top: 1em;
}
.body-inner .stats-contributors {
  text-align: center;
}
.body-inner .stats-contributors .stat__title {
  margin-bottom: 0.75em;
}
.body-inner .stats-contributors .stat {
  margin-left: 23px;
}
.body-inner .stats-support {
  text-align: center;
  vertical-align: top;
}
.body-inner .stats-support .stat {
  width: 30%;
  min-width: 170px;
  max-width: 360px;
}
.body-inner .stats-sub-menu {
  text-align: center;
  margin: -0.5em 0 0;
}
.body-inner .stats-sub-menu .stat {
  width: 20%;
  min-width: 140px;
  max-width: 210px;
}
.body-inner .stats-sub-menu .stat__title {
  margin-bottom: 0.5em;
}
.body-inner .stats-next {
  text-align: center;
  margin-top: 50px;
}
.body-inner .stats-next .stat {
  width: 30%;
  min-width: 170px;
  max-width: 360px;
}
.body-inner .glimpse-panel {
  display: block;
  margin-bottom: 3em;
}
.image-highlight {
  padding: 75px 0;
  background: -moz-radial-gradient(center, ellipse cover, #c7c7c7 0%, #ffffff 70%);
  background: -webkit-gradient(radial, center center, 0px, center center, 70%, color-stop(0%, #c7c7c7), color-stop(100%, #ffffff));
  background: -webkit-radial-gradient(center, ellipse cover, #c7c7c7 0%, #ffffff 70%);
  background: -o-radial-gradient(center, ellipse cover, #c7c7c7 0%, #ffffff 70%);
  background: -ms-radial-gradient(center, ellipse cover, #c7c7c7 0%, #ffffff 70%);
  background: radial-gradient(ellipse at center, #c7c7c7 0%, #ffffff 70%);
}
.sprite {
  background-repeat: no-repeat;
  display: inline-block;
}
.sprite.sprite-root {
  background-image: url(site-icon.png);
  height: 63px;
  width: 63px;
}
.sprite.sprite-root-download {
  background-position: -252px 0px;
}
.sprite.sprite-root-github {
  background-position: -315px 0px;
}
.sprite.sprite-root-community {
  background-position: 0 -63px;
}
.sprite.sprite-root-plugins {
  background-position: -126px -63px;
}
.sprite.sprite-root-documentation {
  background-position: -63px -63px;
}
.sprite.sprite-root-support {
  background-position: -189px -63px;
}
.hover-point-container {
  position: relative;
}
.hover-point-container .hover-point {
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: #33a6ee;
  box-shadow: 0 0 4px 0 #999;
  border: 1px solid #fff;
  display: block;
  position: absolute;
}
.hover-point-container .hover-point:hover + .hover-text {
  opacity: 1;
  z-index: 1000;
  margin-top: 0px;
}
.hover-point-container .hover-text {
  opacity: 0;
  position: absolute;
  margin-top: -5px;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  background: #323d42;
  color: #ffffff;
  text-align: center;
  padding: 10px 20px;
}
.home header .decal {
  height: 200px;
  margin: 9em auto 0 auto;
  white-space: nowrap;
}
@media only screen and (min-width: 1024px) and (max-width: 1499px) {
  .home header .decal {
    margin-top: 4em;
  }
}
.home header .decal a {
  margin-top: 1em;
}
.home header .g {
  text-align: center;
}
.home header .hide--desk .decal {
  margin: 0 auto;
}
.home header h1 {
  padding: 1em 0;
}
.home .header-inner {
  padding-top: 2em;
}
.simple .stats-support {
  margin-top: 40px;
}
.layout {
  width: 100%;
  margin: 0;
  padding: 0;
}
.is-success {
  color: green;
}
.release-summary {
  text-align: center;
  margin: 20px 0;
}
.release-summary-title {
  font-size: 200%;
  padding-bottom: 10px;
}
.release-package {
  padding: 20px 0 50px;
}
.release-package-title h3 a {
  font-size: 40%;
}
.release-package-title img {
  float: right;
}
.release-package-not-found {
  font-style: italic;
}
.release-package-old-found .release-package-message-title {
  color: salmon;
}
.release-package-latest-found .release-package-message-title {
  color: royalblue;
}
.release-package-message {
  text-align: center;
  margin-top: 20px;
}
.release-package-message-title {
  margin-bottom: 10px;
}
.release-installed-version,
.release-latest-version {
  font-family: "avante garde", "Century Gothic", Serif;
}
.release-installed-version {
  margin-right: 30px;
}
.release-latest-version {
  margin-left: 30px;
}
.release-item-detail-holder {
  padding: 20px 40px;
}
.release-item-detail {
  padding: 5px 0;
}
.release-item-detail-title {
  margin-right: 100px;
}
.release-item-detail-notes {
  margin: 5px 0 5px 30px;
  padding: 10px 20px;
  background-color: #eee;
  border-radius: 3px;
  background: #eeeeee;
  background: -moz-linear-gradient(top, #eeeeee 0%, #f9f9f9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #f9f9f9));
  background: -webkit-linear-gradient(top, #eeeeee 0%, #f9f9f9 100%);
  background: -o-linear-gradient(top, #eeeeee 0%, #f9f9f9 100%);
  background: -ms-linear-gradient(top, #eeeeee 0%, #f9f9f9 100%);
  background: linear-gradient(to bottom, #eeeeee 0%, #f9f9f9 100%);
}
.release-item-detail-notes i {
  color: #bbb;
}
.wiki .warning {
  margin: auto;
  background-color: lightyellow;
  border: 1px solid goldenrod;
  color: goldenrod;
  margin-bottom: 10px;
  padding: 10px 0;
  text-align: center;
}
.wiki .sidebar {
  float: left;
  margin-right: 20px;
  background-color: #EDEDED;
  border: 1px solid black;
  color: black;
  padding: 10px;
  width: 180px;
}
.wiki .sidebar > ul {
  margin: 0 0 0 30px;
}
.wiki .maincontent {
  margin-left: 200px;
}
.wiki .maincontent code,
.wiki .maincontent tt,
.wiki .maincontent pre {
  background-color: #F8F8F8;
  border: 1px solid #EAEAEA;
  margin: 0 2px;
  padding: 0 5px;
}
.wiki .maincontent pre {
  margin: 0 0 10px 0;
}
.wiki .maincontent pre > code {
  background-color: inherit;
  border: none;
}
