@model Glimpse.Package.ExistingReleaseInfo
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";   
}

@section header {
    <section>
        <h1>Thanks for installing Glimpse</h1>
        <div class="gamma">you've successfully installed glimpse, so what now?</div>
    </section>
}

<section>
    <div class="g one-whole"> 
        <h2>Install Notes</h2>
    </div>
    <div class="g two-thirds push--one-sixth">  
        @foreach (var detail in Model.Details)
        {
            <div class="release-package">
                <div class="release-package-title">
                    @if (!String.IsNullOrEmpty(detail.Value.Release.IconUrl)) { <img src="@detail.Value.Release.IconUrl" height="50"/> }
                    <h3>@detail.Key (@detail.Value.Version)</h3>  
                    @if (!string.IsNullOrEmpty(detail.Value.Release.ReleaseNotes)) {
                        <div class="release-package-notes">@detail.Value.Release.ReleaseNotes</div>
                    }
                </div> 
            </div>
        }
    </div>
    <div class="g one-whole"> 
        <h2>Getting started</h2>
    </div>
    <div class="g one-half palm-one-whole"> 
        <h3>The basics</h3> 
        <p>We hope you find glimpse useful and it provides a new layer of information about your web app.</p>
        <p>Simply run your application in the normal way and if glimpse doesn't automatically open at the bottom of your browser simply click on the logo that will be in the bottom right and that is all there is to it!</p>
        <div style="text-align: center">
            <img src="~/Content/first-install-minimized.png" />
        </div>
    </div>
    <div class="g one-half palm-one-whole">
        <h3>Enabling things</h3>
        <p>Glimpse only kicks into life when it finds an http cookie '<code>glimpsePolicy</code>' with the value '<code>On</code>' in the request from the browser. There are several ways to get this cookie:</p>
        <p>Browse to <code>http://yoursite/glimpse.axd</code> and click on the <strong>'Turn Glimpse On'</strong> button.</p>
        <p>If your browser supports bookmarklets you can create one to turn Glimpse on. In Firefox just drag the button onto your bookmarks toolbar or choose 'bookmark this link' in the context menu. In IE9 select the button and choose 'Add to favorites' from the context menu.</p>
        <p>You can manually set the cookie within your site by your own logic based on you own debug settings.</p>
    </div>
    <div class="g one-whole"> 
        <h2>Configuring Glimpse</h2>
        <p>As you used NuGet to download glimpse everything has been taken care of to get you up and running with glimpse however there are some advanced setting that you may want to look at in your web.config file.</p>
        <p>All the 'real' Glimpse configuration then happens in the node 'Glimpse' which can be anywhere under the root configuration node. By default there is only one setting which turns on Glimpse:</p>
        <ol class=line-numbers>
            <li><code>&lt;glimpse defaultRuntimePolicy="On" /&gt;</code></li> 
        </ol>
        <p>You can turn off Glimpse by setting <code>defaultRuntimePolicy="Off"</code>. By default Glimpse only works for requests that come from the local machine. To change this and find out about more advanced settings, please check the Configuration section in the Reference part.</p>
    </div>
</section>