@{
    ViewBag.Title = "Glimpse - Thanks!";
    ViewBag.pageCss = "/Content/_v2/website-assets/css/firstRun.css";
    Layout = "~/Views/Shared/_Simple.cshtml";
}


@section header {
    <h1>Almost done...</h1>
    <p>Note, we just need to confirm your email address. To complete the subscription process, please click the link in the email we just sent you.</p>
}

<h2>What you will get</h2>
<p>With this you will get updates about whats happening with Glimpse &amp; where we are going. The below is a taste of what you will get:</p>

<p style="text-align: center; font-style: italic; margin-top: 2em;">Sample News</p>
<div style="background-color: #efefef; padding: 0 2em 2em; margin:1em 0 4em;">
    <h1>Introducing HUD - Head Up Display</h1>
    <p>The Glimpse team, in conjunction with many members of the community, is proud to announce Glimpse Heads-Up Display (HUD) – a mini dashboard that pulls out the most important details about a request and displays it right in the bottom of your page. This release signals the biggest change to Glimpse since going live just over 2 years ago. We are very excited about this release and hope that it will help change the way you do development.</p>
    <img src="http://blog.getglimpse.com/wp-content/uploads/2013/06/HUD_Detail.png" width="100%"/>
    <h2>We need your help!</h2>
    <p>HUD is almost ready to go and is in the finial stages of development. We would love your help in getting some feedback about what we have produced. If you have some spare time to help out, please contact us on twitter:</p>
    <table style="text-align: center">
        <tr>
            <td><a href="https://twitter.com/anthony_vdh">@@anthony_vdh</a></td>
            <td><a href="https://twitter.com/nikmd23">@@nikmd23</a></td>
        </tr>
    </table>
</div>

<h2>Just confirm</h2>
<p>All that is left now if for your to complete the signup process by checking your email.</p>
